﻿<!DOCTYPE html>
<html ng-app="shgApp" xmlns:ng="http://angularjs.org">
<head>
    <base href="/">
    <title ng-bind="ngMeta.title"></title>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="fragment" content="!">
    <meta property="og:type" content="{{ngMeta['og:type']}}" />
    <meta property="og:locale" content="{{ngMeta['og:locale']}}" />
    <meta name="author" content="Power Roof Systems" />
    <meta name="description" content="{{ngMeta.description}}" />
    <meta name="author" content="Sky High Growth">
    <meta name="robots" content="index, follow" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- angular -->
    <script src="libs/angular/angular.js"></script>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css" />
    <!-- font icons -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- default style -->
    <!--<link href="resources/styles/default_stop.css" rel="stylesheet" />-->
    <!-- custom styles -->
    <link href="resources/styles/styles.css" rel="stylesheet" />
    <link href="resources/styles/mediaqueries.css" rel="stylesheet" />
    <!--
    <base href="/">
    -->
</head>

<body id="body" ng-cloak="">
    <div id="flash" class="flash">
        <div ng-show="message">
            {{message}}
        </div>
        <div ng-show="messages.length != 0" ng-repeat="m in messages track by $index">
            {{m}}
        </div>
    </div>
    <div class="loading" ng-if="loading">
        <div>
            <i class="fa-2x fa-fw fa fa-spinner fa-spin fa-icon"></i>
            <br />
            <div>Please wait</div>
        </div>
    </div>
    <!-- layout start -->
    <div class="header">
        <!-- <img src="resources/images/logo-blue.svg" style="height:3em;" /> -->
        <div class="shg-header">
            <div class="shg-logo" ng-click="changeView('/')"></div>
            <div class="shg-nav">

                <a class="shg-nav-item" ng-class="{'active': getCurrentPage() === 'home' }" href="" ng-click="changeView('/')"
                   title="Home">
                    Home
                </a>
                <a class="shg-nav-item" ng-class="{'active': getCurrentPage() === 'csv' }" href="" ng-click="changeView('/csv')"
                   title="Csv Lists">
                    Predefined lists
                </a>
                <a class="shg-nav-item" ng-class="{'active': getCurrentPage() === 'premium' }" href="" ng-click="changeView('/premium')"
                   title="Premium">
                    Premium service
                </a>
                <a class="shg-nav-item" ng-class="{'active': getCurrentPage() === 'shgdb' }" href="" ng-click="databaseLink()" title="Database">
                    Database
                </a>
                <a class="shg-nav-item" ng-class="{'active': getCurrentPage() === 'about' }" href="" ng-click="changeView('/about')"
                   title="About">
                    About
                </a>
                <a class="shg-nav-item" ng-class="{'active': getCurrentPage() === 'home' }" href="" ng-if="loggedUser"
                   ng-click="changeView('/admin/dashboard')" title="Dashboard">
                    Dashboard
                </a>

                <a class="shg-nav-item" ng-class="{'active': getCurrentPage() === 'login' }" href="" ng-if="!loggedUser" ng-click="changeView('/login')" title="Login">
                    Login
                </a>
                <a class="shg-nav-item" href="" ng-if="loggedUser" ng-click="logout()" title="Logout">
                    Logout
                </a>

            </div>
            <div class="shg-menu-toggle" ng-click="menu.menuToggle = !menu.menuToggle">
                <div ng-class="{'hamburger':!menu.menuToggle,'iks':menu.menuToggle}"></div>
            </div>
            <div class="shg-nav shg-nav-mobile" ng-click="menu.menuToggle = !menu.menuToggle" ng-class="{'closed':!menu.menuToggle,'opened':menu.menuToggle}">

                <a class="shg-nav-mobile" ng-class="{'active': getCurrentPage() === 'home' }" href="" ng-click="changeView('/')" title="Home">
                    Home
                </a>
                <a class="shg-nav-mobile" ng-class="{'active': getCurrentPage() === 'csv' }" href="" ng-click="changeView('/csv')" title="Csv Lists">
                    Predefined lists
                </a>
                <a class="shg-nav-mobile" ng-class="{'active': getCurrentPage() === 'premium' }" href="" ng-click="changeView('/premium')" title="Premium">
                    Premium service
                </a>
                <a class="shg-nav-mobile" ng-class="{'active': getCurrentPage() === 'shgdb' }" href="" ng-click="databaseLink()" title="Database">
                    Database
                </a>
                <a class="shg-nav-mobile" ng-class="{'active': getCurrentPage() === 'about' }" href="" ng-click="changeView('/about')" title="About">
                    About
                </a>
                <a class="shg-nav-mobile" ng-class="{'active': getCurrentPage() === 'home' }" href="" ng-if="loggedUser" ng-click="changeView('/admin/dashboard')" title="Dashboard">
                    Dashboard
                </a>
                <a class="shg-nav-mobile" ng-class="{'active': getCurrentPage() === 'login' }" href="" ng-if="!loggedUser" ng-click="changeView('/login')" title="Login">
                    Login
                </a>
                <a class="shg-nav-mobile" href="" ng-if="loggedUser" ng-click="logout()" title="Logout">
                    Logout
                </a>

            </div>
        </div>
    </div>
    <div class="shg-hero" ng-class="{'home': getCurrentPage() === 'home','about': getCurrentPage() === 'about','dashboard': getCurrentPage() === 'dashboard' }">
        <div ng-show="getCurrentPage() === 'about'" class="shg-video-plh">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/GlIJdpQQpaY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <div class="shg-hero-content">
            <h2 ng-show="getCurrentPage() === 'dashboard'">{{loggedUser.firstname}} {{loggedUser.lastname}}'s Dashboard</h2>
            <h2>{{getCurrentPageTitle()}}</h2>
            <h3 ng-show="getCurrentPage() === 'home'">
                We are Sky High Growth. We offer you a boutique sales consulting
                services with effective, all-in-one, demand generation solutions, and immense email lists with always
                updated database of top qualified leads. Together we will grow your business sky high.
            </h3>
            <!-- <a ng-show="getCurrentPage() === 'home'" href="" class="shg-hero-vid">Watch the video</a>
            <div ng-show="getCurrentPage() === 'home'" class="shg-hero-p">We make your phone ring (whatever that means for your business)</div>
            <a ng-show="getCurrentPage() === 'home'" class="shg-btn shg-btn--chat" href="#">Chat with an Expert</a> -->
        </div>
    </div>
    <div class="shg-main">
        <div class="shg-main-content" ng-class="{'home': getCurrentPage() === 'home','dashboard': getCurrentPage() === 'dashboard' }">
            <!-- <div class="layout animateView" ng-view=""></div> -->
            <div ng-view=""></div>
        </div>
    </div>
    <div class="footer">
        <div class="shg-footer">
            <div class="shg-footer-cta">
                <div class="shg-footer-cta-menu">
                    <a class="shg-footer-cta-menu-item" href="" ng-click="changeView('/')" title="Home">
                        Home
                    </a>
                    <a class="shg-footer-cta-menu-item" href="" ng-click="changeView('/premium')" title="Premium">
                        Premium
                    </a>
                    <a class="shg-footer-cta-menu-item" href="" ng-click="changeView('/csv')" title="Csv Lists">
                        CSV lists
                    </a>
                    <a class="shg-footer-cta-menu-item" href="" ng-click="databaseLink()" title="Database">
                        Database
                    </a>
                    <a class="shg-footer-cta-menu-item" href="" ng-if="loggedUser" ng-click="changeView('/admin/dashboard')"
                       title="Dashboard">
                        Dashboard
                    </a>
                    <a class="shg-footer-cta-menu-item" href="" ng-if="!loggedUser" ng-click="changeView('/register')"
                       title="Register">
                        Register
                    </a>
                    <a class="shg-footer-cta-menu-item" href="" ng-if="!loggedUser" ng-click="changeView('/login')"
                       title="Login">
                        Login
                    </a>
                    <a class="shg-footer-cta-menu-item" href="" ng-if="loggedUser" ng-click="logout()" title="Logout">
                        Logout
                    </a>
                </div>
                <div class="shg-footer-cta-social">
                    <ul id="menu-social-menu" class="menu">
                        <a href="https://web.facebook.com/SkyHighGrowth/" class="o-socialList_item c-link mr-2 pr-1"
                           target="_blank">
                            <i class="c-icon c-icon-24">
                                <img class="" src="http://skyhighgrowth.com/wp-content/uploads/2018/06/facebook.svg"
                                     alt="" data-pagespeed-url-hash="154739526" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </i>
                        </a>
                        <a href="https://www.linkedin.com/company/skyhighgrowth/" class="o-socialList_item c-link mr-2 pr-1"
                           target="_blank">
                            <i class="c-icon c-icon-24">
                                <img class="" src="http://skyhighgrowth.com/wp-content/uploads/2018/06/linkedin.svg"
                                     alt="" data-pagespeed-url-hash="2605043334" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </i>
                        </a>
                        <a href="https://www.instagram.com/skyhighgrowth/" class="o-socialList_item c-link mr-2 pr-1"
                           target="_blank">
                            <i class="c-icon c-icon-24">
                                <img class="" src="http://skyhighgrowth.com/wp-content/uploads/2018/06/Instagram.svg"
                                     alt="" data-pagespeed-url-hash="200604758" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </i>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="shg-footer-copy">
                <div class="shg-footer-copy-text">© 2018 - Sky High Growth - All rights reserved.</div>
                <div class="shg-footer-copy-logo">
                    <div class="shg-logo" ng-click="changeView('/')"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- layout end -->
    <!-- lodash -->
    <script src="libs/lodash/dist/lodash.min.js"></script>
    <!-- async -->
    <script src="libs/async/dist/async.min.js"></script>
    <!-- jquery -->
    <script src="libs/jquery/dist/jquery.min.js"></script>

    <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>

    <!-- angular -->
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="libs/angular-resource/angular-resource.min.js"></script>
    <script src="libs/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="libs/angular-animate/angular-animate.min.js"></script>
    <script src="libs/angular-cookies/angular-cookies.min.js"></script>
    <script src="libs/ngMeta/dist/ngMeta.min.js"></script>
    <!-- file saver angular -->
    <script src="libs/angular-file-saver/dist/angular-file-saver.bundle.min.js"></script>
    <!-- ngCsv -->
    <script src="libs/ng-csv/build/ng-csv.min.js"></script>

    <script src="libs/angular-ui-tinymce/dist/tinymce.min.js"></script>
    <!-- upload -->
    <script src="libs/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="libs/ng-file-upload/ng-file-upload.min.js"></script>
    <!-- modules -->
    <script src="app/modules/angular-server-paginate.js"></script>
    <script src="app/modules/angular-accordion.js"></script>
    <!-- controllers -->
    <script src="app/app.js"></script>
    <script src="app/controllers/homeCtrl.js"></script>
    <script src="app/controllers/loginCtrl.js"></script>
    <script src="app/controllers/registerCtrl.js"></script>
    <script src="app/controllers/forgotpasswordCtrl.js"></script>
    <script src="app/controllers/csvCtrl.js"></script>
    <script src="app/controllers/premiumCtrl.js"></script>
    <script src="app/controllers/shgdbCtrl.js"></script>
    <script src="app/controllers/contactCtrl.js"></script>
    <script src="app/controllers/aboutCtrl.js"></script>
    <script src="app/controllers/admin/groupCtrl.js"></script>
    <script src="app/controllers/admin/dashboardCtrl.js"></script>
    <script src="app/controllers/admin/listCtrl.js"></script>
    <script src="app/controllers/admin/fileCtrl.js"></script>
    <script src="app/controllers/admin/paymentCtrl.js"></script>
    <script src="app/controllers/admin/userCtrl.js"></script>
    <script src="app/controllers/admin/accountCtrl.js"></script>
    <script src="app/controllers/admin/orderCtrl.js"></script>
    <script src="app/controllers/admin/iesCtrl.js"></script>
    <script src="app/controllers/admin/dbCtrl.js"></script>
    <script src="app/controllers/admin/verifyEmailCtrl.js"></script>
    <!-- services -->
    <script src="app/services/dataService.js"></script>
    <script src="app/services/flashService.js"></script>
    <!-- directives -->
    <script src="app/directives/email.js"></script>
    <script src="app/directives/phone.js"></script>
    <script src="app/directives/validFile.js"></script>
    <!-- filters --->
    <script src="app/filters/html.js"></script>
</body>
</html>