﻿<div class="content">
    <h3 class="shg-img-row">
        <img src="../../../resources/images/dash-icons/user.svg" width="48" /><span ng-click="changeView('/admin/dashboard')">Back</span>/
        My Account
    </h3>
    <br />
    <div ng-if="!aoe">
        <div>
            <a class="shg-btn" ng-click="select(obj)">Edit My Account</a>
        </div>
        <br />
        <div class="shg-accordion-list">

            <div><label>Username:</label> {{obj.username}}</div>
            <div><label>First Name:</label> {{obj.firstname}}</div>
            <div><label>Last Name:</label> {{obj.lastname}}</div>
            <div><label>Email:</label> {{obj.email}}</div>
            <div><label>Company Name:</label> {{obj.companyname}}</div>
            <div><label>Phone:</label> {{obj.phone}}</div>
            <div><label>Gender:</label> {{user.obj}}</div>
            <div><label>Last Login Date:</label> {{obj.lastLoginDate | date:'MM/dd/yy h:mm:ss a'}}</div>
            <div><label>Last Login IP:</label> {{obj.lastLoginIp}}</div>
        </div>

    </div>
    <div ng-if="aoe">
        <form name="shgform" novalidate="">
            <div class="shg-account-form">
                <div class="shg-form-row">
                    <label>First name: <span ng-show="shgform.firstname.$error.required">*</span></label>
                    <input ng-model="obj.firstname" type="text" name="firstname" placeholder="First name" required=""
                        focus="true" />
                </div>
                <div class="shg-form-row">
                    <label>Last name: <span ng-show="shgform.lastname.$error.required">*</span></label>
                    <input ng-model="obj.lastname" type="text" name="lastname" placeholder="Last name" required="" />
                </div>
                <div class="shg-form-row">
                    <label>Phone: <span ng-show="shgform.phone.$error.required">*</span></label>
                    <input ng-model="obj.phone" type="text" name="phone" placeholder="000-000-0000" required="" phone="" />
                    <span class="fa-color" ng-show="shgform.phone.$error.phone">
                        Phone not valid
                    </span>
                </div>
                <div class="shg-form-row">
                    <label>Gender: <span ng-show="shgform.gender.$error.required">*</span></label>
                    <div class="shg-select-wrap">
                        <select ng-model="obj.gender" ng-options="o.value as o.name for o in genders" required="">
                            <option value="">-- Plese Select --</option>
                        </select>
                    </div>
                </div>
                <div class="shg-form-row">
                    <label>Company Name:</label>
                    <input ng-model="obj.companyname" type="text" name="companyname" placeholder="Company Name" />
                </div>
                <div class="shg-form-row">
                    <label>Password: <span ng-show="shgform.password.$error.required">*</span></label>
                    <input ng-model="obj.password" type="password" name="password" placeholder="Password" required="" />
                    <span class="fa-color" ng-show="shgform.password.$error.minlength">
                        Password minimum length is 4
                    </span>
                    <span class="fa-color" ng-show="shgform.password.$error.maxlength">
                        Password maximum length is 20
                    </span>
                </div>
                <div class="shg-form-row">
                    <label>Password Confirm: <span ng-show="shgform.passwordconfirm.$error.required">*</span></label>
                    <input type="password" name="passwordconfirm" placeholder="Password Confirm" ng-model="obj.passwordconfirm"
                        required="" />
                    <span class="fa-color" ng-show="shgform.password.$error.minlength">
                        Password minimum length is 4
                    </span>
                    <span class="fa-color" ng-show="shgform.password.$error.maxlength">
                        Password maximum length is 20
                    </span>
                </div>
                <div class="shg-form-row validation-messages">
                    <span class="fa-color" ng-show="shgform.$valid">Form seems ok you can continue</span>
                    <span class="fa-color" ng-show="shgform.$invalid">Please fill the form</span>
                </div>

                <div class="shg-form-row shg-form-row-btn">
                    <a ng-show="!loading" class="shg-btn" ng-click="shgform.$invalid || addOrEdit(obj)">Save</a>
                    <a class="shg-btn" ng-show="!loading" ng-click="cancel();">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>