﻿<div class="content">
    <h3><i class="fa fa-2x fa-lg fa-list fa-icon"></i> Companies Management</h3>
    <div ng-if="!aoe">
        <div>
            <i class="fa fa-2x fa-plus-circle fa-icon" ng-click="select({})" title="Add New"></i> Add New
            <br />
            Upload/Import CSV
            <i class="fa fa-2x fa-fw fa-upload fa-icon" ngf-select="upload($file)" title="Upload and import Csv file"></i>
        </div>
        <table class="grid" ng-if="data">
            <thead>
                <tr>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>
                    <th>
                        View
                    </th>
                    <th>Company Id</th>
                    <th>Domain</th>
                    <th>Account Name</th>
                    <th>Industry</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Web Site</th>
                    <th>No Of Employees</th>
                    <th>Specialities</th>
                    <th>Founded Date</th>
                    <th>Linked In Url</th>
                    <th>Sales Navigator Link</th>
                    <th>Url From Another Site</th>
                    <th>IndustryTag</th>
                    <th>No Of Founders</th>
                    <th>Founders</th>
                    <th>Revenue</th>
                    <th>Country</th>
                    <th>Billing State/Province</th>
                    <th>Billing City</th>
                    <th>Billing Street</th>
                    <th>Billing Zip/Postal Code</th>
                    <th>Other Locations</th>
                    <th>Info Email</th>
                    <th>Account Phone</th>
                    <th>Products</th>
                    <th>Technologies</th>
                    <th>Inverstor Type</th>
                    <th>Investment Stage</th>
                    <th>Amount Of Invested Money</th>
                    <th>Raised Investor Type</th>
                    <th>Raised Ivestment Stage</th>
                    <th>Raised Amount Of Invested Money</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!data || data.length===0">
                    <td colspan="36" style="text-align:center !important;">
                        There are no records
                    </td>
                </tr>
                <tr ng-repeat="obj in data">
                    <td>
                        <i class="fa fa-1x fa-edit fa-icon" ng-click="edit(obj)" title="Edit"></i>
                    </td>
                    <td>
                        <i class="fa fa-1x fa-trash fa-icon" ng-click="delete(obj)" title="Delete"></i>
                    </td>
                    <td>
                        <i class="fa fa-1x fa-eye fa-icon" ng-click="view(obj)" title="View"></i>
                    </td>
                    <td>{{obj.CompanyId}}</td>
                    <td>
                        <a ng-if="obj.Domain" ng-href="{{packLink(obj.Domain)}}" target="_blank" title="{{obj.Domain}}">
                            <i class="fa fa-1x fa-external-link fa-icon"></i>
                        </a>
                    </td>
                    <td>{{obj.CompanyName}}</td>
                    <td>{{obj.Industry}}</td>
                    <td>{{obj.Location}}</td>
                    <td>{{obj.Description}}</td>
                    <td>
                        <a ng-if="obj.WebSite" ng-href="{{packLink(obj.WebSite)}}" target="_blank" title="{{obj.WebSite}}">
                            <i class="fa fa-1x fa-external-link fa-icon"></i>
                        </a>
                    </td>
                    <td>{{obj.NoOfEmployees}}</td>
                    <td>{{obj.Specialities}}</td>
                    <td>{{obj.FoundedDate}}</td>
                    <td>
                        <a ng-if="obj.LinkedInUrl" ng-href="{{packLink(obj.LinkedInUrl)}}" target="_blank" title="{{obj.LinkedInUrl}}">
                            <i class="fa fa-1x fa-linkedin fa-icon"></i>
                        </a>
                    </td>
                    <td>
                        <a ng-if="obj.SalesNavigatorLink" ng-href="{{packLink(obj.SalesNavigatorLink)}}" target="_blank" title="{{obj.SalesNavigatorLink}}">
                            <i class="fa fa-1x fa-external-link fa-icon"></i>
                        </a>
                    </td>
                    <td>
                        <a ng-if="obj.UrlFromAnotherSite" ng-href="{{packLink(obj.UrlFromAnotherSite)}}" target="_blank" title="{{obj.UrlFromAnotherSite}}">
                            <i class="fa fa-1x fa-external-link fa-icon"></i>
                        </a>
                    </td>
                    <td>{{obj.IndustryTag}}</td>
                    <td>{{obj.NoOfFounders}}</td>
                    <td>{{obj.Founders}}</td>
                    <td>{{obj.Revenue}}</td>
                    <td>{{obj.Country}}</td>
                    <td>{{obj.BillingStateProvince}}</td>
                    <td>{{obj.BillingCity}}</td>
                    <td>{{obj.BillingStreet}}</td>
                    <td>{{obj.BillingZipPostalCode}}</td>
                    <td>{{obj.OtherLocations}}</td>
                    <td>
                        <a ng-if="obj.InfoEmail" ng-href="mailto:{{obj.InfoEmail}}?subject=Contact from SH" title="{{obj.InfoEmail}}">{{obj.InfoEmail}}</a>
                    </td>
                    <td>{{obj.AccountPhone}}</td>
                    <td>{{obj.Products}}</td>
                    <td>{{obj.Technologies}}</td>
                    <td>{{obj.InvestorType}}</td>
                    <td>{{obj.InvestmentStage}}</td>
                    <td>{{obj.SmountOfInvestedMoney}}</td>
                    <td>{{obj.RaisedInvestorType}}</td>
                    <td>{{obj.RaisedInvetmentStage}}</td>
                    <td>{{obj.RaisedAmountOfInvestedMoney}}</td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="36">
                        <paginator page-size="10" ctrl="ctrl" data="data"></paginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
   
    <div ng-if="aoe">
        <form name="shgform" novalidate="">
            <div>
                <label>Name:</label>
                <br />
                <input ng-model="obj.name" type="text" name="name" placeholder="Name" required="" />
                <span ng-show="shgform.name.$error.required">
                    <i class="fa fa-1x fa-fw fa-asterisk fa-color"></i>
                </span>
                <br />
                <label>Description:</label>
                <br />
                <textarea ng-model="obj.description" type="text" name="description" placeholder="Description"></textarea>
            </div>
           
            <div class="validation-messages">
                <span class="fa-color" ng-show="shgform.$valid">Form seems ok you can continue</span>
                <span class="fa-color" ng-show="shgform.$invalid">Please fill the form</span>
            </div>
            <div class="phButtons">
                <i ng-show="!loading" class="fa fa-2x fa-stack fa-check-circle fa-icon-light" ng-click="shgform.$invalid || addOrEdit(obj)"></i>
                <i ng-show="!loading" class="fa fa-2x fa-stack fa-times-circle fa-icon-light" ng-click="cancel();"></i>
            </div>
        </form>
    </div>
</div>
