﻿<div class="content">
    <div class="shg-dashboard-contanier">
        <div class="shg-dashboard-contanier-item" ng-if="isInRole('administrator')" ng-click="changeView('/admin/ies')"
             title="Import/Export Csv">
            <img src="../../../resources/images/dash-icons/groups.svg" alt="" height="48">
            <div>Import/Export/Search</div>
        </div>
        <div class="shg-dashboard-contanier-item" ng-if="isInRole('administrator')" ng-click="changeView('/admin/group')"
             title="CSV Groups">
            <img src="../../../resources/images/dash-icons/groups.svg" alt="" height="48">
            <div>CSV Groups</div>
        </div>
        <div class="shg-dashboard-contanier-item" ng-if="isInRole('administrator')" ng-click="changeView('/admin/list')"
             title="CSV Lists">
            <img src="../../../resources/images/dash-icons/approved.svg" alt="" height="48">
            <div>CSV Lists</div>
        </div>
        <div class="shg-dashboard-contanier-item" ng-if="isInRole('administrator')" ng-click="changeView('/admin/file')"
             title="CSV Files">
            <img src="../../../resources/images/dash-icons/file.svg" alt="" height="48">
            <div>CSV Files</div>
        </div>
        <div class="shg-dashboard-contanier-item" ng-if="isInRole('administrator')" ng-click="changeView('/admin/payment')"
             title="Payments">
            <img src="../../../resources/images/dash-icons/credit-card.svg" alt="" height="48">
            <div>Payments</div>
        </div>
        <div class="shg-dashboard-contanier-item" ng-if="isInRole('administrator')" ng-click="changeView('/admin/user')"
             title="Users">
            <img src="../../../resources/images/dash-icons/users.svg" alt="" height="48">
            <div>Users</div>
        </div>
        <div class="shg-dashboard-contanier-item" ng-if="loggedUser && isInRole('member')" ng-click="changeView('/admin/db')" title="SHG Database">
            <img src="../../../resources/images/dash-icons/analysis.svg" alt="" height="48">
            <div>SHG Database</div>
        </div>
        <div class="shg-dashboard-contanier-item" ng-if="loggedUser && isInRole('member')" ng-click="changeView('/admin/account')" title="My Account">
            <img src="../../../resources/images/dash-icons/user.svg" alt="" height="48">
            <div>My Account</div>
        </div>
        <div class="shg-dashboard-contanier-item" ng-if="loggedUser" ng-click="changeView('/admin/order')" title="My Orders">
            <img src="../../../resources/images/dash-icons/invoice.svg" alt="" height="48">
            <div>My Orders</div>
        </div>
        <div class="shg-dashboard-contanier-item" ng-if="isInRole('administrator')" ng-click="changeView('/admin/verifyemail')" title="Verify Emails Management">
            <img src="../../../resources/images/dash-icons/invoice.svg" alt="" height="48">
            <div>Verify Emails Management</div>
        </div>
    </div>
</div>