﻿<div class="content">
    <h3 class="shg-img-row"><img src="../../../resources/images/dash-icons/file.svg" width="48" /><span ng-click="changeView('/admin/dashboard')">Back</span>/
        Files Management</h3>
    <br />
    <div ng-if="!aoe">
        <div>
            <a class="shg-btn" ng-click="select({})">Add New</a>
        </div>
        <br />
        <accordion ng-repeat="f in files" ng-if="obj.files.length !== 0">
            <accordion-header>
                <span>{{f.name}}</span>
                <span><a title="Delete" ng-click="delete(f.name)">Delete</a></span>
            </accordion-header>
            <accordion-body>
                <div class="shg-accordion-list">
                    <div>Name: {{f.name}}</div>
                    <div>Size: {{(f.size/1024).toFixed(0)}}&nbsp;kb</div>
                    <div>Csv Rows Count: {{f.count}}</div>
                </div>
            </accordion-body>
        </accordion>
    </div>

    <div ng-if="aoe">
        <div ng-if="aoe">
            <form name="shgform" novalidate="">
                <div class="shg-form-row shg-form-row-btn">
                    <a ngf-select="upload(file)" ng-model="file" class="shg-btn shg-btn--upload">Select Csv file to
                        upload</a>
                    <span ng-show="shgform.uploadFile.$error.required">
                        <i class="fa fa-1x fa-fw fa-asterisk fa-icon-dark"></i>
                    </span>
                    <a class="shg-btn" ng-show="!loading" ng-click="cancel();">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>