﻿<div class="content">
    <h3 class="shg-img-row">
        <img src="../../../resources/images/dash-icons/groups.svg" width="48" /><span ng-click="changeView('/admin/dashboard')">Back</span>/
        Groups Management
    </h3>
    <br />
    <div ng-if="!aoe">
        <div>
            <a class="shg-btn" ng-click="select({})">Add New</a>
        </div>
        <br />
        <div>
            <accordion ng-repeat="obj in groups">
                <accordion-header>
                    <span>{{obj.name}}</span>
                    <span>
                        <a title="Edit" ng-click="select(obj)">Edit </a> |
                        <a title="Delete" ng-click="delete(obj._id)"> Delete</a>
                    </span>
                </accordion-header>
                <accordion-body>
                    <div class="shg-accordion-list">
                        <div>Name: {{obj.name}}</div>
                        <div>Description: {{obj.description}}</div>
                        <div>Lists Count: {{obj.lists.length}}</div>
                        <div>Created Date: {{obj.createdAt | date:'MM/dd/yy h:mm:ss a'}}</div>
                        <div>Modified Date{{obj.modifiedAt | date:'MM/dd/yy h:mm:ss a'}}</div>
                    </div>
                </accordion-body>
            </accordion>
        </div>


    </div>
    <div class="shg-group-form" ng-if="aoe">
        <form name="shgform" novalidate="">
            <div class="shg-form-row">
                <label>Name: <span ng-show="shgform.name.$error.required"> *</span></label>
                <input ng-model="obj.name" type="text" name="name" placeholder="Name" required="" />
            </div>
            <div class="shg-form-row">
                <label>Description:</label>
                <textarea ng-model="obj.description" type="text" name="description" placeholder="Description"></textarea>
            </div>
            <div class="shg-form-row validation-messages">
                <span class="fa-color" ng-show="shgform.$valid">Form seems ok you can continue</span>
                <span class="fa-color" ng-show="shgform.$invalid">Please fill the form</span>
            </div>
            <div class="shg-form-row shg-form-row-btn">
                <a ng-show="!loading" class="shg-btn" ng-click="shgform.$invalid || addOrEdit(obj)">Save</a>
                <a class="shg-btn" ng-show="!loading" ng-click="cancel();">Cancel</a>
            </div>
        </form>
    </div>
</div>