﻿<div class="content">
    <h3 class="shg-img-row"><img src="../../../resources/images/dash-icons/groups.svg" width="48" /><span ng-click="changeView('/admin/dashboard')">Back</span>/
        Import / Export / Search Management</h3>
    <div>
        <div>
            <div class="shg-upload-section">
                <h2>Import {{importType}}</h2>
                <label>
                    <input type="radio" name="group" ng-model="importType" checked="checked" value="Companies" ng-change="reset()" />Companies
                </label>
                <label>
                    <input type="radio" name="group" ng-model="importType" value="Employees" ng-change="reset()" />Employees
                </label>
                <a ngf-select="upload($file, importType)" class="shg-btn shg-btn--upload">Import {{importType}} CSV</a>
            </div>
            <hr class="shg-line">
            <div class="shg-search-section">
                <h2>Search {{importType}}</h2>
                <form name="searchForm" novalidate="">
                    <div class="shg-search-section-filters">
                        <div class="shg-search-section-filters-employees">
                            <div class="shg-form-row">
                                <label>Title (anywhere):</label>
                                <input ng-model="searchObj.Title" type="text" placeholder="Title" />
                            </div>
                            <div class="shg-form-row">
                                <label>First Name (starts with):</label>
                                <input ng-model="searchObj.FirstName" type="text" placeholder="First Name" />
                            </div>
                            <div class="shg-form-row">
                                <label>Last Name (starts with):</label>
                                <input ng-model="searchObj.LastName" type="text" placeholder="Last Name" />
                            </div>
                            <div class="shg-form-row">
                                <label>Email (starts with):</label>
                                <input ng-model="searchObj.Email" type="text" placeholder="Email" />
                            </div>
                            <div class="shg-form-row">
                                <label>Genders (ctrl + left click for multiple):</label>
                                <select multiple ng-model="searchObj.Gender" ng-options="o.Value as o.Name for o in genders">
                                    <option value="">-- Plese Select --</option>
                                </select>
                            </div>
                        </div>
                        <div class="shg-search-section-filters-companies">
                            <div class="shg-form-row">
                                <label>Company Name (starts with):</label>
                                <input ng-model="searchObj.CompanyName" type="text" placeholder="Company Name" />
                            </div>
                            <div class="shg-form-row">
                                <label>Industries (ctrl + left click for multiple):</label>
                                <select multiple size="3" ng-model="searchObj.Industry" ng-options="o.Value as o.Name for o in industries">
                                    <option value="">-- Plese Select --</option>
                                </select>
                            </div>
                            <div class="shg-form-row">
                                <label>Locations (ctrl + left click for multiple):</label>
                                <select multiple size="3" ng-model="searchObj.Location" ng-options="o.Value as o.Name for o in locations">
                                    <option value="">-- Plese Select --</option>
                                </select>
                            </div>
                            <div class="shg-form-row">
                                <label>Industry Tags (ctrl + left click for multiple):</label>
                                <select multiple size="3" ng-model="searchObj.IndustryTag" ng-options="o.Value as o.Name for o in industryTags">
                                    <option value="">-- Plese Select --</option>
                                </select>
                            </div>
                            <div class="shg-form-row">
                                <label>Countries (ctrl + left click for multiple):</label>
                                <select multiple size="3" ng-model="searchObj.Country" ng-options="o.Value as o.Name for o in countries">
                                    <option value="">-- Plese Select --</option>
                                </select>
                            </div>
                            <div class="shg-form-row">
                                <label>Specialities (ctrl + left click for multiple):</label>
                                <select multiple size="3" ng-model="searchObj.Specialities" ng-options="o.Value as o.Name for o in specialities">
                                    <option value="">-- Plese Select --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="shg-search-section-cta">
                        <a class="shg-btn" ng-click="search()">Search</a>
                        <a class="shg-btn" ng-if="result.length!==0 && selected.length!==0" ng-click="exportSelected()">Export Selected {{importType}} To CSV</a>
                        <a class="shg-btn" ng-if="showExport" ng-click="exportAllSearch()">Export Selected {{importType}} To CSV</a>
                        <a class="shg-btn" ng-if="showExport" ng-click="alert('Cooming soon!')">Export Selected As Joined To Csv</a>

                    </div>
                    <div>
                        <label ng-if="result && result.length !== 0">
                            <br />
                            <input type="checkbox" ng-checked="exportAll" ng-click="exportAllOnChange($event.target.checked)" /> Select All Founded For Export
                        </label>
                    </div>
                    <hr class="shg-line">
                    <div>
                        <div ng-if="result.length===0">
                            No records found for selected search filters.
                        </div>
                        <div ng-if="importType==='Companies'">
                            <accordion ng-repeat="obj in result">
                                <accordion-header>
                                    <span>Company: {{obj.CompanyName}} - [{{obj.Industry}}]</span>
                                    <span><input type="checkbox" ng-checked="getChkModel(obj._id)" ng-click="$event.stopPropagation();checkOne($event.target.checked, obj)" title="Select this contact" /></span>
                                </accordion-header>
                                <accordion-body>
                                    <div class="shg-accordion-list">
                                        <div>Domain:{{obj.Domain}}</div>
                                        <div>CompanyName:{{obj.CompanyName}}</div>
                                        <div>Industry:{{obj.Industry}}</div>
                                        <div>Location:{{obj.Location}}</div>
                                        <div>Description:{{obj.Description}}</div>
                                        <div>WebSite:{{obj.WebSite}}</div>
                                        <div>NoOfEmployees:{{obj.NoOfEmployees}}</div>
                                        <div>Specialitie:{{obj.Specialities}}s</div>
                                        <div>FoundedDate:{{obj.FoundedDate}}</div>
                                        <div>SalesNavigatorLink:{{obj.SalesNavigatorLink}}</div>
                                        <div>LinkedInUrl:{{obj.LinkedInUrl}}</div>
                                        <div>UrlFromAnotherWebSite:{{obj.UrlFromAnotherWebSite}}</div>
                                        <div>IndustryTag:{{obj.IndustryTag}}</div>
                                        <div>NoOfFounders:{{obj.NoOfFounders}}</div>
                                        <div>Founders:{{obj.Founders}}</div>
                                        <div>Revenue:{{obj.Revenue}}</div>
                                        <div>Country:{{obj.Country}}</div>
                                        <div>BillingStateProvince:{{obj.BillingStateProvince}}</div>
                                        <div>BillingCity:{{obj.BillingCity}}</div>
                                        <div>BillingStreet:{{obj.BillingStreet}}</div>
                                        <div>BillingZipPostalCode:{{obj.BillingZipPostalCode}}</div>
                                        <div>OtherLocations:{{obj.OtherLocations}}</div>
                                        <div>InfoEmail:{{obj.InfoEmail}}</div>
                                        <div>AccountPhone:{{obj.AccountPhone}}</div>
                                        <div>Products:{{obj.Products}}</div>
                                        <div>Technologies:{{obj.Technologies}}</div>
                                        <div>InvestorType:{{obj.InvestorType}}</div>
                                        <div>InvestmentStage:{{obj.InvestmentStage}}</div>
                                        <div>AmountOfInvestedMoney:{{obj.AmountOfInvestedMoney}}</div>
                                    </div>
                                    <div>
                                        <accordion ng-repeat="e in obj.Employees">
                                            <accordion-header>Employee: {{e.FirstName}} {{e.LastName}} - [{{e.Title}}]</accordion-header>
                                            <accordion-body>
                                                <div class="shg-accordion-list">
                                                    <div>Domain:{{e.Domain}}</div>
                                                    <div>CompanyName:{{e.CompanyName}}</div>
                                                    <div>WebSite:{{e.WebSite}}</div>
                                                    <div>FirstName:{{e.FirstName}}</div>
                                                    <div>LastName:{{e.LastName}}</div>
                                                    <div>Title:{{e.Title}}</div>
                                                    <div>Gender:{{e.Gender}}</div>
                                                    <div>MrMrs:{{e.MrMrs}}</div>
                                                    <div>Location:{{e.Location}}</div>
                                                    <div>Email:{{e.Email}}</div>
                                                    <div>Phone:{{e.Phone}}</div>
                                                    <div>LinkedInProfileUrl:{{e.LinkedInProfileUrl}}</div>
                                                    <div>SalesNavigatorProfileUrl:{{e.SalesNavigatorProfileUrl}}</div>
                                                    <div>UrlFromAnotherWebSite:{{e.UrlFromAnotherWebSite}}</div>
                                                    <div>Colleague:{{e.Colleague}}</div>
                                                    <div>Vocativ:{{e.Vocativ}}</div>
                                                    <div>ShortBiography:{{e.ShortBiography}}</div>
                                                    <div>Education:{{e.Education}}</div>
                                                </div>
                                            </accordion-body>
                                        </accordion>
                                    </div>
                                </accordion-body>
                            </accordion>
                        </div>
                        <div ng-if="importType==='Employees'">
                            <accordion ng-repeat="obj in result">
                                <accordion-header>
                                    <span>Employee: {{obj.FirstName}} {{obj.LastName}} - [{{obj.Title}}]</span>
                                    <span><input type="checkbox" ng-checked="getChkModel(obj._id)" ng-click="$event.stopPropagation();checkOne($event.target.checked, obj)" title="Select this contact" /></span>
                                </accordion-header>
                                <accordion-body>
                                    <div class="shg-accordion-list">
                                        <div>Domain:{{obj.Domain}}</div>
                                        <div>CompanyName:{{obj.CompanyName}}</div>
                                        <div>WebSite:{{obj.WebSite}}</div>
                                        <div>FirstName:{{obj.FirstName}}</div>
                                        <div>LastName:{{obj.LastName}}</div>
                                        <div>Title:{{obj.Title}}</div>
                                        <div>Gender:{{obj.Gender}}</div>
                                        <div>MrMrs:{{obj.MrMrs}}</div>
                                        <div>Location:{{obj.Location}}</div>
                                        <div>Email:{{obj.Email}}</div>
                                        <div>Phone:{{obj.Phone}}</div>
                                        <div>LinkedInProfileUrl:{{obj.LinkedInProfileUrl}}</div>
                                        <div>SalesNavigatorProfileUrl:{{obj.SalesNavigatorProfileUrl}}</div>
                                        <div>UrlFromAnotherWebSite:{{obj.UrlFromAnotherWebSite}}</div>
                                        <div>Colleague:{{obj.Colleague}}</div>
                                        <div>Vocativ:{{obj.Vocativ}}</div>
                                        <div>ShortBiography:{{obj.ShortBiography}}</div>
                                        <div>Education:{{obj.Education}}</div>
                                    </div>
                                    <div>
                                        <accordion ng-repeat="c in obj.Companies">
                                            <accordion-header>Company: {{c.FirstName}} {{c.LastName}} - [{{c.Industry}}]</accordion-header>
                                            <accordion-body>
                                                <div class="shg-accordion-list">
                                                    <div>Domain:{{c.Domain}}</div>
                                                    <div>CompanyName:{{c.CompanyName}}</div>
                                                    <div>Industry:{{c.Industry}}</div>
                                                    <div>Location:{{c.Location}}</div>
                                                    <div>Description:{{c.Description}}</div>
                                                    <div>WebSite:{{c.WebSite}}</div>
                                                    <div>NoOfEmployees:{{c.NoOfEmployees}}</div>
                                                    <div>Specialitie:{{c.Specialities}}s</div>
                                                    <div>FoundedDate:{{c.FoundedDate}}</div>
                                                    <div>SalesNavigatorLink:{{c.SalesNavigatorLink}}</div>
                                                    <div>LinkedInUrl:{{c.LinkedInUrl}}</div>
                                                    <div>UrlFromAnotherWebSite:{{c.UrlFromAnotherWebSite}}</div>
                                                    <div>IndustryTag:{{c.IndustryTag}}</div>
                                                    <div>NoOfFounders:{{c.NoOfFounders}}</div>
                                                    <div>Founders:{{c.Founders}}</div>
                                                    <div>Revenue:{{c.Revenue}}</div>
                                                    <div>Country:{{c.Country}}</div>
                                                    <div>BillingStateProvince:{{c.BillingStateProvince}}</div>
                                                    <div>BillingCity:{{c.BillingCity}}</div>
                                                    <div>BillingStreet:{{c.BillingStreet}}</div>
                                                    <div>BillingZipPostalCode:{{c.BillingZipPostalCode}}</div>
                                                    <div>OtherLocations:{{c.OtherLocations}}</div>
                                                    <div>InfoEmail:{{c.InfoEmail}}</div>
                                                    <div>AccountPhone:{{c.AccountPhone}}</div>
                                                    <div>Products:{{c.Products}}</div>
                                                    <div>Technologies:{{c.Technologies}}</div>
                                                    <div>InvestorType:{{c.InvestorType}}</div>
                                                    <div>InvestmentStage:{{c.InvestmentStage}}</div>
                                                    <div>AmountOfInvestedMoney:{{c.AmountOfInvestedMoney}}</div>
                                                </div>
                                            </accordion-body>
                                        </accordion>
                                    </div>
                                </accordion-body>
                            </accordion>
                        </div>
                        <div>
                            <paginator skip="skip" limit="limit" count="count" pages="pages" callback="cb(arg1, arg2)"></paginator>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>