﻿<div class="content">
    <h3 class="shg-img-row"><img src="../../../resources/images/dash-icons/approved.svg" width="48" /><span ng-click="changeView('/admin/dashboard')">Back</span>/
        Lists Management</h3>
    <br />
    <div ng-if="!aoe">
        <div>
            <a class="shg-btn" ng-click="select({})">Add New</a>
        </div>
        <br />
        <accordion ng-repeat="obj in lists">
            <accordion-header>
                <span>{{obj.name}}</span>
                <span>
                    <a title="Edit" ng-click="select(obj)">Edit </a> |
                    <a title="Delete" ng-click="delete(obj._id)"> Delete</a>
                </span>
            </accordion-header>
            <accordion-body>
                <div class="shg-accordion-list">
                    <div>Group: {{obj.group.name}}</div>
                    <div>List Name: {{obj.name}}</div>
                    <div><span>Description: </span>&nbsp; <span ng-bind-html="obj.description | html"></span></div>
                    <div>Csv File: {{objfile}}</div>
                    <div>Csv Sample: {{obj.sample}}</div>
                    <div>Price: {{obj.price | currency : $ : 2}}</div>
                    <div>Created Date: {{obj.createdAt | date:'MM/dd/yy h:mm:ss a'}}</div>
                    <div>Modified Date{{obj.modifiedAt | date:'MM/dd/yy h:mm:ss a'}}</div>
                </div>
            </accordion-body>
        </accordion>
    </div>

    <div class="shg-list-form" ng-if="aoe">
        <form name="shgform" novalidate="">
            <div>
                <div class="shg-form-row">
                    <label>Group: <span ng-show="shgform.group.$error.required"> *</span></label>
                    <select ng-model="obj.group._id" ng-options="g._id as g.name for g in groups" name="group" required="">
                        <option value="">-- Plese Select --</option>
                    </select>

                </div>
                <div class="shg-form-row">
                    <label>Name: <span ng-show="shgform.name.$error.required"> *</span></label>
                    <input ng-model="obj.name" type="text" name="name" placeholder="Name" required="" />
                </div>
                <div class="shg-form-row">
                    <label>Price:<span ng-show="shgform.price.$error.required"> *</span></label>
                    <input ng-model="obj.price" type="number" name="price" placeholder="Price" required="" />

                </div>
                <div class="shg-form-row">
                    <label>Csv File: <span ng-show="shgform.file.$error.required"> *</span></label>
                    <select ng-model="obj.file" ng-options="f.name as f.name for f in files" name="file" required="">
                        <option value="">-- Plese Select --</option>
                    </select>
                </div>
                <div class="shg-form-row">
                    <label>Csv Sample: <span ng-show="shgform.sample.$error.required"> *</span></label>
                    <select ng-model="obj.sample" ng-options="f.name as f.name for f in files" name="sample" required="">
                        <option value="">-- Plese Select --</option>
                    </select>
                </div>
                <div class="shg-form-row">
                    <label>Description:</label>
                    <textarea ui-tinymce="tinymceOptions" ng-model="obj.description"></textarea>
                </div>
            </div>

            <div class="shg-form-row validation-messages">
                <span class="fa-color" ng-show="shgform.$valid">Form seems ok you can continue</span>
                <span class="fa-color" ng-show="shgform.$invalid">Please fill the form</span>
            </div>
            <div class="shg-form-row shg-form-row-btn">
                <a ng-show="!loading" class="shg-btn" ng-click="shgform.$invalid || addOrEdit(obj)">Save</a>
                <a class="shg-btn" ng-show="!loading" ng-click="cancel();">Cancel</a>
            </div>
        </form>
    </div>
</div>