﻿<div class="content">
    <h3 class="shg-img-row">
        <img src="../../../resources/images/dash-icons/credit-card.svg" width="48" /><span ng-click="changeView('/admin/dashboard')">Back</span>/
        Payments Management
    </h3>
    <div>
        <br /><br />
        Coming Soon!
    </div>
</div>
