﻿<div class="content">
    <h3 class="shg-img-row"><img src="../../../resources/images/dash-icons/users.svg" width="48" /><span ng-click="changeView('/admin/dashboard')">Back</span>/
        Users Management</h3>
    <br />
    <div ng-if="!aoe">
        <div>
            <a class="shg-btn" ng-click="select({})">Add New</a>
        </div>
        <br />
        <accordion ng-repeat="obj in users" ng-if="users.length !== 0">
            <accordion-header>
                <span>{{obj.username}}</span>
                <span>
                    <a title="Edit" ng-click="select(obj)">Edit </a> |
                    <a title="Delete" ng-click="delete(obj._id)"> Delete</a>
                </span>
            </accordion-header>
            <accordion-body>
                <div class="shg-accordion-list">
                    <div>Username: {{obj.username}}</div>
                    <div>Email: &nbsp;<a href="mailto:{{obj.email}}">{{obj.email}}</a></div>
                    <div>First Name: {{obj.firstname}}</div>
                    <div>Last Name: {{obj.lastname}}</div>
                    <div>Gender: {{obj.gender}}</div>
                    <div>Phone: &nbsp;<a href="tel:{{obj.phone}}">{{obj.phone}}</a></div>
                    <div>Role: {{obj.role.name}}</div>
                    <div>Is Active: {{obj.isLocked?'Yes':'No'}}</div>
                    <div>Created Date: {{obj.createdAt | date:'MM/dd/yy h:mm:ss a'}}</div>
                    <div>Modified Date{{obj.modifiedAt | date:'MM/dd/yy h:mm:ss a'}}</div>
                </div>
            </accordion-body>
        </accordion>
    </div>
    <div class="shg-user-form" ng-if="aoe">
        <form name="shgform" novalidate="">
            <div>
                <div class="shg-form-row">
                    <label>First name: <span ng-show="shgform.firstname.$error.required">*</span></label>
                    <input ng-model="obj.firstname" type="text" name="firstname" placeholder="First name" required=""
                        focus="true" />
                </div>
                <div class="shg-form-row">
                    <label>Last name: <span ng-show="shgform.lastname.$error.required">*</span></label>
                    <input ng-model="obj.lastname" type="text" name="lastname" placeholder="Last name" required="" />
                </div>
                <div class="shg-form-row">
                    <label>Phone: <span ng-show="shgform.phone.$error.required">*</span></label>
                    <input ng-model="obj.phone" type="text" name="phone" placeholder="000-000-0000" required="" phone="" />
                    <span class="fa-color" ng-show="shgform.phone.$error.phone">
                        Phone not valid
                    </span>
                </div>
                <div class="shg-form-row">
                    <label>Email: <span ng-show="shgform.email.$error.required">*</span></label>
                    <input ng-model="obj.email" type="email" name="email" placeholder="Email" required="" email="" />
                    <span class="fa-color" ng-show="shgform.email.$error.email">
                        Email not valid
                    </span>
                </div>
                <div class="shg-form-row">
                    <label>Gender: <span ng-show="shgform.gender.$error.required">*</span></label>
                    <div class="shg-select-wrap">
                        <select ng-model="obj.gender" ng-options="o.value as o.name for o in genders" required="">
                            <option value="">-- Plese Select --</option>
                        </select>
                    </div>
                </div>
                <div class="shg-form-row">
                    <label>Active Account: <span ng-show="shgform.active.$error.required">*</span></label>
                    <input type="checkbox" name="active" ng-model="obj.active" />
                </div>
                <div class="shg-form-row">
                    <label>Role: <span ng-show="shgform.role.$error.required">*</span></label>
                    <div class="shg-select-wrap">
                        <select ng-model="obj.role._id" ng-options="o._id as o.name for o in roles" required="">
                            <option value="">-- Plese Select --</option>
                        </select>
                    </div>
                </div>
                <div class="shg-form-row">
                    <label>Company Name:</label>
                    <input ng-model="obj.companyname" type="text" name="companyname" placeholder="Company Name" />
                </div>
                <div class="shg-form-row">
                    <label>Username: <span ng-show="shgform.username.$error.required">*</span></label>
                    <input ng-model="obj.username" type="text" name="username" placeholder="Username" required="" />
                </div>
                <div class="shg-form-row">
                    <label>Password: <span ng-show="shgform.password.$error.required">*</span></label>
                    <input ng-model="obj.password" type="password" name="password" placeholder="Password" required="" />
                    <span class="fa-color" ng-show="shgform.password.$error.minlength">
                        Password minimum length is 4
                    </span>
                    <span class="fa-color" ng-show="shgform.password.$error.maxlength">
                        Password maximum length is 20
                    </span>
                </div>
                <div class="shg-form-row">
                    <label>Password Confirm: <span ng-show="shgform.passwordconfirm.$error.required">*</span></label>
                    <input type="password" name="passwordconfirm" placeholder="Password Confirm" ng-model="obj.passwordconfirm"
                        required="" />
                    <span class="fa-color" ng-show="shgform.password.$error.minlength">
                        Password minimum length is 4
                    </span>
                    <span class="fa-color" ng-show="shgform.password.$error.maxlength">
                        Password maximum length is 20
                    </span>
                </div>




            </div>

            <div class="shg-form-row validation-messages">
                <span class="fa-color" ng-show="shgform.$valid">Form seems ok you can continue</span>
                <span class="fa-color" ng-show="shgform.$invalid">Please fill the form</span>
            </div>
            <div class="shg-form-row shg-form-row-btn">
                <a ng-click="shgform.$invalid || addOrEdit(obj)" class="shg-btn">Save</a>
                <a class="shg-btn" ng-click="cancel();">Cancel</a>
            </div>
        </form>
    </div>
</div>