﻿<div class="content">
    <h3 class="shg-img-row"><img src="../../../resources/images/dash-icons/groups.svg" width="48" /><span ng-click="changeView('/admin/dashboard')">Back</span>/
        Verify Emails Management</h3>
    <div>
        <div>
            <div class="shg-upload-section">
                <h2>Verify Emails CSV</h2>
                <a ngf-select="upload($file, importType)" class="shg-btn shg-btn--upload">Import Verify Emails CSV</a>
                <a class="shg-btn" ng-click="export()">Export Verified Emails</a>
            </div>
            <hr class="shg-line">
        </div>
    </div>
</div>