﻿[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 1);
    /* overflow: hidden; */
    font-size: 1em !important;
    font-weight: normal !important;
}

body {
    color: #555555;
    font-family: 'Open Sans Light', Verdana, Tahoma, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

a:link {
    color: #00adff;
    text-decoration: none;
}

a:hover {
    color: white !important;
    text-decoration: none;
}

a:visited {
    color: #00adff !important; /*rgba(255, 119, 0, 1);*/
    text-decoration: none;
}

a:active {
    color: #00adff;
    text-decoration: none;
}
label {
    font-weight:bold;
}

input[type="button"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 0.2em;
    background: -moz-linear-gradient( top, #ffc89e 0%, #00adff);
    background: -webkit-gradient( linear, left top, left bottom, from(#ffc89e), to(#00adff));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #946300;
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.7);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.7);
    text-shadow: 0px -1px 0px rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
    cursor: pointer;
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], textarea {
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0.3em;
    border: solid 1px #00adff;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    /*color: rgba(130, 130, 130, 1);*/
    color: rgba(0,0,0,1);
    min-width: 15em;
    max-width: 15em;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="date"]:focus, textarea:focus {
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin: 0px;
    padding: 0.3em;
    border: solid 1px #00adff;
    -webkit-box-shadow: 0px 0px 5px rgba(197, 214, 76, 0.6);
    -moz-box-shadow: 0px 0px 5px rgba(197, 214, 76, 0.6);
    -o-box-shadow: 0px 0px 5px rgba(197, 214, 76, 0.6);
    -ms-box-shadow: 0px 0px 5px rgba(197, 214, 76, 0.6);
    box-shadow: 0px 0px 5px rgba(197, 214, 76, 0.6);
    /*color: rgba(130, 130, 130, 1);*/
    color: rgba(0,0,0,1);
}

select {
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin: 0px;
    padding: 0.2em;
    border: solid 1px #00adff;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    /*color: rgba(130, 130, 130, 1);*/
    color: rgba(0,0,0,1);
    min-width: 15em;
    max-width: 15em;
}

option:disabled {
    background-color: #EFEFEF;
    color: #C8C8C8;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.animateView {
    /* position: absolute;
    top: 4em;
    bottom: 2em;
    left: 0em;
    right: 0em; */
}

.animateView.ng-enter {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

.animateView.ng-leave {
    position: absolute;
    top: 4em;
    bottom: 2em;
    left: 0em;
    right: 0em;
    -webkit-animation: fadeout 0.5s;
    -moz-animation: fadeout 0.5s;
    -ms-animation: fadeout 0.5s;
    -o-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
}

.animateView.ng-enter-active {

}

.animateView.ng-leave-active {

}

.animateFade.ng-hide {
    opacity: 0;
}

.animateFade.ng-hide-remove, animateFade.ng-hide-add {
}

.animateFade.ng-hide-remove {
    transition: all linear 1000ms;
}

.animateFade.ng-hide-add {
    transition: all linear 500ms;
}

.grid {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
    font-size:90%;
    /*table-layout: fixed;*/
    /*background-color:#999999;*/
}

.grid > thead > tr > th {
    padding: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
    background-color: rgba(213, 213, 213, 1);
    white-space: nowrap;
    vertical-align: text-top;
}

.grid > thead > tr > th:nth-child(1) {
    width: 2em;
}

.grid > thead > tr > th:nth-child(2) {
    width: 2em;
}

.grid > tbody > tr > td {
    padding: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.grid > tbody > tr > td:nth-child(1) {
    text-align:center !important;
}
.grid > tbody > tr > td:nth-child(2) {
    text-align: center !important;
}
.grid > tfoot > tr > td {
    text-align: center;
    padding: 0.2em;
    background-color: rgba(213, 213, 213, 1);
}

.grid > tbody > tr:nth-child(odd) {
    background-color: #ffffff;
}

.grid > tbody > tr:nth-child(even) {
    background-color: rgba(239, 239, 239, 1);
}

.grid > thead > tr > th:first-child {
    -webkit-border-radius: 5px 0px 0px 0px;
    -moz-border-radius: 5px 0px 0px 0px;
    -o-border-radius: 5px 0px 0px 0px;
    -ms-border-radius: 5px 0px 0px 0px;
    border-radius: 5px 0px 0px 0px;
}

.grid > thead > tr > th:last-child {
    -webkit-border-radius: 0px 5px 0px 0px;
    -moz-border-radius: 0px 5px 0px 0px;
    -o-border-radius: 0px 5px 0px 0px;
    -ms-border-radius: 0px 5px 0px 0px;
    border-radius: 0px 5px 0px 0px;
}

.grid > tfoot > tr > td {
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
    -ms-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    padding: 0.5em;
}
.fa-icon {
    cursor: pointer;
}
/*.animateView {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    height: 100%;
    position: relative;
    top:0px;
}
.animateView.ng-enter {
    left: 100%;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.animateView.ng-leave {
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}
.animateView.ng-enter-active {
    left: 0;
}
.animateView.ng-leave {
    left: 0;
}
.animateView.ng-leave-active {
    left: -100%;
}*/
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
/* Firefox < 16 */
@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
/* Internet Explorer */
@-ms-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
/* Opera < 12.1 */
@-o-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.loading {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999999 !important;
    background-color: rgba(128, 128, 128, 0.5);
}

.loading > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 10em;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 999999 !important;
    border: solid 1px #00adff;
    color: #00adff;
    background-color: #ffffff;
    text-align: center !important;
}

#slider > div {
    width: 100%;
    text-align: center;
    display: inline-block;
    color: rgba(255, 119, 0, 1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 99999;
    padding-top: 0.5em;
}

    #slider > div:last-child {
        padding-bottom: 0.5em;
    }

.flash {
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    color: red;
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: gainsboro;
    z-index: 999999 !important;
    max-height: 30em;
    overflow-y: auto;
}
.flash > div {
    text-align:center;
}
.header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 100%;
    top: 0px;
    left: 0em;
    right: 0em;
    position: absolute;
    background-color: grey;
}

.header > div {
    /* display: inline-block;
    float: right;
    margin-top: 0.9em; */
}

.layout {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    margin: 0em;
    float: left;
    overflow: hidden;
    /* position: absolute; */
    top: 4em;
    bottom: 2em;
    left: 0em;
    right: 0em;
    /*background-color:rgba(239,239,239, 1);*/
}

.content {
    height: 100% !important;
    overflow: auto !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding:1em;

}

.footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    bottom: 0px;
    left: 0em;
    right: 0em;
    position: absolute;
    padding: 0.3em;
    background-color: grey;
    color: white;
    font-size:70%;
}

.errors {
    color: red !important;
}

.dashboard-contanier {

}

.dashboard-contanier > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    padding:1em;
    padding-top:2.5em;

    text-align: center;
    float: left;
    width: 8em;
    height: 8em;
    background-color: grey;
    margin: 0.2em;
}
.dashboard-contanier > div > a > i {
    margin-bottom: 0.2em;
}
/* fix for orientation */
@media (orientation: portrait) {
    body {
    }
}

@media (orientation: landscape) {
    body {
    }
}
/* everything over 960 */
@media screen and (min-width: 960px) {
    body {
        font-size: 0.9em;
    }
}
/* everything below 960 WINDOWS PHONE */
@media screen and (max-width: 960px) {
    body {
        font-size: 0.8em;
    }
}
/* everything below 758 */
@media screen and (max-width: 758px) {
    body {
        font-size: 0.8em;
    }
}
/* everything below 524 */
@media (max-width: 524px) and (orientation: landscape) {
    body {
        font-size: 0.6em;
    }
}

@media (max-width: 524px) and (orientation: portrait) {
    body {
        font-size: 0.7em;
    }
}