@media only screen and (max-width: 1200px) {
    .header, .shg-hero, .shg-main, .footer {
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% - 40px);
    }
}

/* nav - mobile */

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 280px) and (max-width: 1199px) {
    .shg-menu-toggle {
        display: block;
    }
    .shg-hero.about .shg-video-plh {
        width: calc(100% + 40px);
        margin-left: -20px;
    }
}

@media only screen and (min-width: 960px) {
    .shg-nav.shg-nav-mobile {
        display: none;
    }
    .shg-menu-toggle {
        display: none;
    }
}

@media only screen and (min-width: 280px) and (max-width: 959px) {
    .shg-nav.shg-nav-mobile {
        display: block;
    }
    .shg-nav {
        display: none;
    }
    .shg-search-section-cta {
        flex-direction: column;
        align-items: flex-start;
    }
    .shg-search-section-cta .shg-btn {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
    .shg-hero.middle .shg-hero-content {
        position: relative;
        margin: 0;
        left: unset;
    }
    .shg-hero.middle .shg-hero-content h2 {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 280px) and (max-width: 415px) {
    .accordion-header span:first-of-type {
        max-width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .shg-search-section-filters {
        flex-direction: column;
        justify-content: space-between;
    }
    .shg-search-section-filters-employees, .shg-search-section-filters-companies {
        width: 100%;
    }
    .shg-search-section-filters-employees {
        margin-right: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .shg-search-section-filters-companies {
        margin-left: 0;
        margin-bottom: 20px;
    }
    .shg-dashboard-contanier-item {
        max-width: unset;
    }
    .shg-hero-content h2 {
        font-size: 1.8rem;
    }
    .shg-hero.middle .shg-hero-content {
        position: relative;
        margin: 0;
        left: unset;
    }
    .shg-testimonails {
        flex-direction: column;
    }
    .shg-testimonails-item {
        margin: 0;
    }
    .shg-footer-cta-menu {
        display: flex;
        flex-direction: column;
    }
    .shg-footer-cta-menu-item {
        padding: 10px 0;
    }
    .fa-color, .shg-img-row {
        font-size: smaller !important;
    }
    .shg-accordion-list DIV {
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
    .shg-video-plh iframe {
        width: 370px;
    }
    .o-expert {
        max-width: 187px;
        height: 263px;
    }
}

/* price plans */

@media only screen and (max-width: 620px) {
    .price-plan {
        flex-wrap: wrap;
    }
    .price-plan-placeholder {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 620px) {
    .price-plan-placeholder-read-more {
        opacity: 0.9;
    }
    .price-plan-placeholder:hover .price-plan-placeholder-read-more {
        opacity: 0.9;
    }
    .price-plan-placeholder .price-plan-placeholder-read-more:after {
        opacity: 1;
        left: 120px;
    }
    .price-plan-placeholder:hover .price-plan-placeholder-read-more:after {
        opacity: 1;
    }
}