html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/***********************************/
/* ADDED BY MARJAN :) */
/***********************************/
fieldset {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    border: 1px solid #00adff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
    vertical-align:top;
}
legend {
    color: #00adff;
    font-size: 100% !important;
    font-weight: bold !important;
    width: auto !important;
    border: none !important;
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
    margin: 0px !important;
}
/* input[type="text"], input[type="number"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], textarea {
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0.3em;
    border: solid 1px #00adff;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    /*color: rgba(130, 130, 130, 1);*/
    /*color: rgba(0,0,0,1);
    min-width: 15em;
    max-width: 15em;
}
textarea {
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0.3em;
    border: solid 1px #00adff;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    /*color: rgba(130, 130, 130, 1);*/
    /*color: rgba(0,0,0,1);
    min-width: 15em !important;
    max-width: 15.7em !important;
}
select {
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0.3em !important;
    border: solid 1px #00adff;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    /*color: rgba(130, 130, 130, 1);*/
    /*color: rgba(0,0,0,1);
    min-width: 15em !important;
    max-width: 15.7em !important;
}*/
option {
    margin: 3px 0 !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
} 
.mce-branding {
    color:white;
}
.fa-icon-white {
    color: white;
    cursor: pointer;
}
.accordion .accordion .accordion-header:before {
    position: absolute;
    content: '';
    border-top: 1px solid #00adff;
    border-right: 1px solid #00adff;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    left: 0;
    transition: linear all .2s;
}
.accordion .accordion.opened .accordion-header:before {
    transform: rotate(135deg);
    transition: linear all .2s;
}
.accordion > .accordion-header:before {
    position: absolute;
    content: '';
    border-top: 1px solid #00adff;
    border-right: 1px solid #00adff;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    left: 0;
    transition: linear all .2s;
}
.accordion.opened > .accordion-header:before {
    transform: rotate(135deg);
    transition: linear all .2s;
}
.accordion-body {
    display: none;
    /* padding: 20px; */
    border: 1px solid #091730;
    border-top: 0px solid transparent;
    line-height: 1.5;
}
.accordion-header {
    border-bottom: 1px solid #091730;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    /* width: 100%; */
    height: 60px;
    cursor: pointer;
    padding-left: 30px;
    position: relative;
}
.accordion-header a {
    color: #00adff;
}
.accordion-header:last-of-type {
    border-bottom: none;
}
.accordion-body-open {
    
}
.shg-accordion-list DIV {
    padding: 12px;
    background: #f7f7f7;
    display: flex;
}
.shg-accordion-list DIV:nth-child(odd) {
    background: #ebebed;
}
.shg-inner-accordion {
    padding: 20px;
}
.shg-inner-accordion h3 {
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    color: #535e86;
}
.shg-inner-accordion .accordion-body {
    padding: 20px;
    background-color: #ebebed;
}
.shg-inner-accordion .accordion-header {
    
}

/***********************************/
strong {
    font-weight: 600;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*end reset*/

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-height: 100%;
}

html, body {
    min-height: 100%;
    height: 100%;
}

a {
    cursor: pointer;
    outline: none;
}

a:hover, a:focus {}

.shg-line {
    width: 100%;
    height: 0;
    border-bottom: 1px solid #535e86;
    opacity: .6;
    margin: 60px 0;
}

ul {
    list-style-position: outside;
}

/* typography */

h1 {
    font-size: 2.875rem;
    font-weight: 300;
}

h2 {
    font-size: 2.125rem;
    /* font-size: 1.4375rem; */
    color: #11428a;
    margin: 10px 0 30px;
}

.shg-page-title {
    display: flex;
    align-content: center;
    align-items: center;
}
.shg-page-title span {
    margin-right: 10px;
    margin-bottom: -5px;
}

.shg-sub-heading {
    font-size: 1.125em;
    color: #69727b;
    text-align: center;
    margin: 80px auto;
    max-width: 1000px;
    width: 100%;
}

/* forms - buttons */

.shg-btn {
    background-color: #00bcb6;
    color: #fff;
    border-width: 0;
    border-style: solid;
    border-color: #fff;
    max-width: 230px;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    align-items: center;
    border-radius: 2px;
    padding: .7rem 3rem;
    text-align: center;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    transition: all .3s ease-in-out;
    outline: none;
}

.shg-btn:hover, .shg-btn:focus {
    background-color: #008985;
    color: #e6e6e6;
    border-color: #e6e6e6;
    cursor: pointer;
    transition: all .3s ease-in-out;
    outline: none;
}

.shg-form-row {
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
}
.shg-form-row-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.shg-form-row-btn .shg-btn {
    margin-right: 20px;
}
.shg-form-row label {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 8px;
}

.shg-form-row input[type=text], .shg-form-row input[type=password], .shg-form-row input[type=number], .shg-form-row input[type=email], select {
    border: 1px solid #93a8d2;
    background: #fff;
    color: #091730;
    padding: 1rem .3rem;
    font-size: 1rem;
    /* width: 100%; */
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    transition: all .3s ease-in-out;
}

.shg-select-wrap {
    position: relative;
}

.shg-select-wrap:after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #93a8d2;
    border-right: 2px solid #939393;
    transform: rotate(135deg);
    position: absolute;
    right: 10px;
    top: 16px;
    transition: all .3s ease-in-out;
}

.shg-select-wrap:hover:after, .shg-select-wrap:focus:after {
    border-color: #091730;
    transition: all .3s ease-in-out;
}

select {
    width: 100%;
}

select option {
    margin-top: 16px;
}

.shg-form-row input[type=text]:focus, .shg-form-row input[type=password]:focus, .shg-form-row input[type=number]:focus, .shg-form-row input[type=email]:focus, .shg-form-row input[type=text]:hover, .shg-form-row input[type=password]:hover, .shg-form-row input[type=number]:hover, .shg-form-row input[type=email]:hover, select:focus, select:hover {
    border: 1px solid #091730;
    background-color: #f2f5fa;
    outline: none;
    transition: all .3s ease-in-out;
}

.shg-form-row.validation-messages .fa-color {
    font-size: 0.8rem;
    color: #11428a;
}

.fa-color {
    font-size: 0.8rem;
    color: #11428a;
    margin-top: 6px;
}

.shg-form-row.forgot-pass a {
    font-size: 0.8rem;
    color: #11428a;
    text-decoration: underline;
}

/* end forms - buttons */

/* header and navigation */

.header {
    width: 100%;
    height: 80px;
    position: relative;
    background-color: transparent;
    z-index: 10;
}

.shg-header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 80px;
}

.shg-nav {
    display: inline;
}

.shg-nav-item {
    font-size: 1.125rem;
    color: white;
    text-decoration: none;
    padding: 1.819rem 1.15rem;
    font-weight: 300;
    position: relative;
    display: inline-flex;
}
.shg-nav-item.active:after {
    content: '';
    width: calc(100% - 2.25rem);
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 20px;
    left: 1.15rem;
}
.shg-nav-item.active:last-of-type:after {
    /* width: calc(100% - 1.1rem); */
}

.shg-nav-item:hover, .shg-nav-item:focus {
    color: white;
}

.shg-nav-item:hover {
    background-color: rgba(9, 23, 48, .2);
}

.shg-logo {
    display: block;
    background: url('/resources/images/logo-blue.svg') no-repeat;
    width: 71px;
    height: 44px;
    margin-top: 8px;
}

.hamburger {
    transition: all 0.25s;
    position: relative;
    top: 11px;
    width: 26px;
    height: 1px;
    background: white;
}

.hamburger:before {
    transition: all 0.25s;
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 21px;
    height: 1px;
    background: white;
}

.hamburger:after {
    transition: all 0.25s;
    content: '';
    position: absolute;
    top: -6px;
    left: 0;
    width: 20px;
    height: 1px;
    background: white;
}

.iks {
    transition: all 0.25s;
    position: relative;
    top: 11px;
    width: 0px;
    height: 1px;
    background: white;
}

.iks:before {
    transition: all 0.25s;
    content: '';
    position: absolute;
    left: 0;
    height: 1px;
    background: white;
    width: 26px;
    transform: rotate(45deg);
    top: 0;
}

.iks:after {
    transition: all 0.25s;
    content: '';
    position: absolute;
    left: 0;
    height: 1px;
    background: white;
    width: 26px;
    transform: rotate(-45deg);
    top: 0;
}

.shg-nav.shg-nav-mobile.closed {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 360px;
    max-width: 360px;
    height: auto;
    top: 80px;
    right: -360px;
    background-color: rgba(0, 0, 0, .8);
    transition: all .3s ease-in-out;
}

.shg-nav.shg-nav-mobile.opened {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    /* max-width: 414px; */
    height: auto;
    top: 80px;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
    transition: all .3s ease-in-out;
}

.shg-nav.shg-nav-mobile.closed a, .shg-nav.shg-nav-mobile.opened a {
    color: white;
    text-decoration: none;
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid #182f59;
}

.shg-nav.shg-nav-mobile.opened a:hover {
    background-color: rgba(0, 0, 0, .7);
}

.shg-nav-mobile.active {
    background-color: #182f59;
}

.shg-menu-toggle {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* end header and navigation */

/* footer section */

.footer {
    background-color: #091730;
    width: 100%;
}

.shg-footer {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    color: white;
    font-size: .875rem;
    font-weight: 300;
}

.shg-footer-cta, .shg-footer-copy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shg-footer-cta-menu-item {
    padding: 0 .85rem;
}

.shg-footer-cta-menu-item:focus, .shg-footer-cta-menu-item:hover {
    color: white;
}

.shg-footer-cta-social a {
    opacity: .7;
    transition: all .3s ease-in-out;
}

.shg-footer-cta-social a:hover {
    opacity: 1;
    transition: all .3s ease-in-out;
}

.shg-footer-cta a {
    color: white;
    text-decoration: none;
}

.shg-footer-cta a:first-of-type {
    padding-left: 0;
}

.shg-footer-cta {
    padding: 0 0 30px;
    align-items: baseline;
    border-bottom: 1px solid #182f59;
}

.shg-footer-copy {
    padding: 50px 0 0;
    color: #535e86;
}

.shg-footer-copy .shg-logo {
    margin-top: -15px;
    opacity: .5;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.shg-footer-copy .shg-logo:hover {
    opacity: 1;
    transition: all .3s ease-in-out;
}

/* end footer section */

/* hero section */

.shg-hero h2 {
    color: white;
    line-height: 1.4;
}

.shg-hero.home h3 {
    line-height: 2;
    width: 100%;
    max-width: 790px;
    margin: 30px auto 0;
}

.shg-hero.home {
    height: 450px;
    background-position: bottom center;
}

.shg-hero.dashboard {
    height: 225px;
    background-position: bottom center;
}

.shg-hero.about {
    height: 500px;
    background-image: none;
    background-color: black;
}

.shg-hero.about .shg-video-plh {
    width: 100%;
}

.shg-hero {
    display: block;
    background-image: url('/resources/images/xmountain-big.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: -90px;
    width: 100%;
    height: 320px;
    z-index: 1;
}

.shg-hero.middle {
    height: 350px;
    margin-top: 0;
    position: relative;
    background-position: 0 center;
}

.shg-hero-content {
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    top: 110px;
    text-align: center;
    color: white;
}

.shg-hero.middle .shg-hero-content {
    position: absolute;
    max-width: 1000px;
    width: 100%;
    left: 50%;
    margin-left: -500px;
    top: 110px;
    text-align: center;
    color: white;
}

.shg-hero-content h2 {
    font-size: 1.0625rem;
    font-size: 2.875rem;
    text-shadow: 0 1px 60px rgba(0, 0, 0, .35);
    margin-bottom: 10px;
}

.shg-hero-content .shg-hero-p {
    font-size: 1.0625rem;
    margin: 60px 0 20px;
    font-weight: 300;
}

.shg-hero-vid {
    padding-right: 2rem;
    background-image: url('/resources/images/play-button.svg');
    background-position: 100% 50%;
    background-size: 19px 16px;
    background-repeat: no-repeat;
    color: #0cdbd4;
}

.shg-search-section-cta {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.shg-search-section-cta .shg-btn {
    margin-right: 20px;
}

.shg-btn.shg-btn--chat {
    max-width: 230px;
    background-image: url('/resources/images/phone.svg');
    background-position: 2.3rem 50%;
    background-size: 22px;
    background-repeat: no-repeat;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    background-color: #ef4871;
    color: #fff;
    box-shadow: 0 8px 22px 0 rgba(0, 0, 0, .35);
    align-items: center;
    border-radius: 2px;
    padding: .7rem 3rem .7rem 4rem;
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
    outline: none;
}

.shg-btn.shg-btn--chat:hover, .shg-btn.shg-btn--chat:focus {
    background-color: #eb194d;
    color: #e6e6e6;
    border-color: #e6e6e6;
    transition: all .3s ease-in-out;
    outline: none;
}

.shg-btn.shg-btn--upload {
    max-width: 230px;
    background-image: url('/resources/images/upload.svg');
    background-position: 2.3rem 50%;
    background-size: 22px;
    background-repeat: no-repeat;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    background-color: #ef4871;
    color: #fff;
    box-shadow: 0 8px 22px 0 rgba(0, 0, 0, .35);
    align-items: center;
    border-radius: 2px;
    padding: .7rem 3rem .7rem 4rem;
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
    outline: none;
}

.shg-btn.shg-btn--upload:hover, .shg-btn.shg-btn--upload:focus {
    background-color: #eb194d;
    color: #e6e6e6;
    border-color: #e6e6e6;
    transition: all .3s ease-in-out;
    outline: none;
}

/* end hero section */

/* content main section */

.shg-main {
    position: relative;
    display: block;
    width: 100%;
    /* height: 100%; */
}

.shg-content-text {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.shg-content-text p {
    color: #69727b;
    margin-bottom: 20px;
    line-height: 1.5;
}

.shg-content-text ul {
    list-style: disc;
    padding-left: 20px;
}

.shg-content-text li {
    color: #69727b;
    margin-bottom: 20px;
    line-height: 1.5;
}

.shg-video-plh {
    text-align: center;
}

.shg-content-text .shg-sub-heading {
    text-align: left;
    margin: 60px 0;
}

.shg-main-content {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
}

.shg-main-content.home,
.shg-main-content.dashboard {
    max-width: unset;
}

/* end content main section */

/* login view */

.shg-login, .shg-sign-up, .shg-forgot-pass, .shg-contact-us, .shg-list-form, .shg-user-form, .shg-group-form, .shg-account-form {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

/* end login view */

/* TODO - animate styles */

.animateView {
    /* position: absolute;
    top: 4em;
    bottom: 2em;
    left: 0em;
    right: 0em; */
}

.animateView.ng-enter {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

.animateView.ng-leave {
    position: absolute;
    top: 4em;
    bottom: 2em;
    left: 0em;
    right: 0em;
    -webkit-animation: fadeout 0.5s;
    -moz-animation: fadeout 0.5s;
    -ms-animation: fadeout 0.5s;
    -o-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
}

.animateView.ng-enter-active {}

.animateView.ng-leave-active {}

.animateFade.ng-hide {
    opacity: 0;
}

.animateFade.ng-hide-remove, animateFade.ng-hide-add {}

.animateFade.ng-hide-remove {
    transition: all linear 1000ms;
}

.animateFade.ng-hide-add {
    transition: all linear 500ms;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Firefox < 16 */

@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Internet Explorer */

@-ms-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Opera < 12.1 */

@-o-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.loading {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999999 !important;
    background-color: rgba(128, 128, 128, 0.5);
}

.loading>div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 10em;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999999 !important;
    border: solid 1px #00adff;
    color: #00adff;
    background-color: #ffffff;
    text-align: center !important;
}

#slider>div {
    width: 100%;
    text-align: center;
    display: inline-block;
    color: rgba(255, 119, 0, 1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 99999;
    padding-top: 0.5em;
}

#slider>div:last-child {
    padding-bottom: 0.5em;
}

.flash {
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    color: red;
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: gainsboro;
    z-index: 999999 !important;
    max-height: 30em;
    overflow-y: auto;
}

.flash>div {
    text-align: center;
}

/* end animate styles */

.grid {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
    font-size: 90%;
    /*table-layout: fixed;*/
    /*background-color:#999999;*/
}

.grid>thead>tr>th {
    padding: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
    background-color: rgba(213, 213, 213, 1);
    white-space: nowrap;
    vertical-align: text-top;
}

.grid>thead>tr>th:nth-child(1) {
    width: 2em;
}

.grid>thead>tr>th:nth-child(2) {
    width: 2em;
}

.grid>tbody>tr>td {
    padding: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.grid>tbody>tr>td:nth-child(1) {
    text-align: center !important;
}

.grid>tbody>tr>td:nth-child(2) {
    text-align: center !important;
}

.grid>tfoot>tr>td {
    text-align: center;
    padding: 0.2em;
    background-color: rgba(213, 213, 213, 1);
}

.grid>tbody>tr:nth-child(odd) {
    background-color: #ffffff;
}

.grid>tbody>tr:nth-child(even) {
    background-color: rgba(239, 239, 239, 1);
}

.grid>thead>tr>th:first-child {
    -webkit-border-radius: 5px 0px 0px 0px;
    -moz-border-radius: 5px 0px 0px 0px;
    -o-border-radius: 5px 0px 0px 0px;
    -ms-border-radius: 5px 0px 0px 0px;
    border-radius: 5px 0px 0px 0px;
}

.grid>thead>tr>th:last-child {
    -webkit-border-radius: 0px 5px 0px 0px;
    -moz-border-radius: 0px 5px 0px 0px;
    -o-border-radius: 0px 5px 0px 0px;
    -ms-border-radius: 0px 5px 0px 0px;
    border-radius: 0px 5px 0px 0px;
}

.grid>tfoot>tr>td {
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
    -ms-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    padding: 0.5em;
}

/* Price plans */

.price-plan.home-block {
    max-width: 1200px;
    margin: 60px auto;
}

.price-plan.home-block a {
    text-decoration: none;
}

.price-plan.home-block .price-plan-placeholder {
    /*transform: scale(1.02);*/
    border-radius: 4px;
    padding-bottom: 40px;
    transition: all .2s ease-out;
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.00);
}

.price-plan.home-block .price-plan-placeholder:hover {
    transition: all .2s ease-out;
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.price-plan.home-block .price-plan-placeholder-list {
    padding: 20px;
    color: #3d4246;
}

.price-plan.home-block .price-plan-placeholder-head {
    text-align: left;
    align-items: flex-start;
    background: #fff;
}

.price-plan.home-block .price-plan-placeholder-head-name {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.0625em;
    color: #3d4246;
    margin: 20px 0 0 20px;
    text-align: left;
}

.price-plan.home-block .price-plan-placeholder-read-more {
    display: block;
    position: absolute;
    bottom: 20px;
    margin-left: 20px;
    height: 24px;
    line-height: 24px;
    display: inline-flex;
    width: 100%;
    opacity: .7;
    color: #0D4087;
    font-weight: 600;
}

.price-plan.home-block .price-plan-placeholder:hover .price-plan-placeholder-read-more {
    opacity: 0.9;
}

.price-plan.home-block .price-plan-placeholder .price-plan-placeholder-read-more:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 19px;
    height: 16px;
    opacity: 0;
    transition: all .2s ease-out;
    top: 4px;
    left: 100px;
    background: url('/resources/images/right-arrow.svg') no-repeat;
}

.price-plan.home-block .price-plan-placeholder:hover .price-plan-placeholder-read-more:after {
    opacity: 0.9;
    left: 135px;
    transition: all .2s ease-out;
}

.price-plan {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

.price-plan-placeholder {
    width: 100%;
    margin: 0 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 22px 0 rgba(0, 0, 0, .35);
    position: relative;
    padding-bottom: 80px;
    /*height: 100%;*/
}

.price-plan-placeholder-head {
    background-color: #103B7E;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.price-plan-placeholder-head-name {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
}

.price-plan-placeholder-head-price {
    color: #fff;
    font-size: 22px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
}

.price-plan-placeholder-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    min-height: 60px;
    position: absolute;
    bottom: 0;
    text-align: center;
    align-content: center;
    align-items: center;
}

.price-plan-placeholder-button .btn.hero__btn {
    max-width: 230px;
    padding-left: 2.6rem;
    background-image: url('/resources/images/phone.svg');
    background-position: .8rem 50%;
    background-size: 22px;
    background-repeat: no-repeat;
    font-weight: 400;
    background-color: #ef4871;
    color: #fff;
    border-width: 0;
    border-style: solid;
    border-color: #fff;
    text-transform: capitalize;
    box-shadow: 0 8px 22px 0 rgba(0, 0, 0, .35);
    margin: 1rem auto 0.5rem;
}

.price-plan-placeholder-list {
    display: flex;
    flex-direction: column;
}

.price-plan-placeholder-list-item {
    list-style: none;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    color: #69727b;
    line-height: 1.5;
}

/* END Price Plans */

/* Client list */

.shg-client-list-wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.shg-client-list {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}

.shg-client-list-item {
    background-size: contain;
    background-repeat: no-repeat;
    width: 135px;
    height: 135px;
    display: inline-block;
    vertical-align: middle;
    max-width: 160px;
    margin: 0 27.5px 35px;
}

.shg-client-list-item:nth-child(1) {
    background-image: url('/resources/images/clients/asseco.jpg');
}

.shg-client-list-item:nth-child(2) {
    background-image: url('/resources/images/clients/devforge.jpg');
}

.shg-client-list-item:nth-child(3) {
    background-image: url('/resources/images/clients/buck.png');
}

.shg-client-list-item:nth-child(4) {
    background-image: url('/resources/images/clients/high.png');
}

.shg-client-list-item:nth-child(5) {
    background-image: url('/resources/images/clients/mos-av.png');
}

.shg-client-list-item:nth-child(6) {
    background-image: url('/resources/images/clients/quantox.png');
}

.shg-client-list-item:nth-child(7) {
    background-image: url('/resources/images/clients/vivify.png');
}

.shg-client-list-item:nth-child(8) {
    background-image: url('/resources/images/clients/refdash.png');
}

/* END Client list */

/* testimonials */

.shg-testimonails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.shg-testimonails-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 30px;
    width: 100%;
}

.shg-testimonails-item-heading {
    background-image: url('/resources/images/quote.svg');
    background-size: cover;
    width: 25px;
    height: 25px;
    margin: 20px auto;
}

.shg-testimonails-item-content {
    color: #69727b;
    margin-bottom: 30px;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

.shg-testimonails-item-credit {
    font-size: 0.8em;
    font-style: normal;
    text-align: center;
}

/* END testimonials */

/* experts block */

.shg-about-wrap {
    width: 100%;
    max-width: 1200px;
    margin: 3rem auto;
}
.o-expert_about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 900px;
    width: 100%;
    margin: 3rem auto;
    height: auto;
    flex-wrap: wrap;
    flex-grow: 1;
    position: relative;
}
.o-expert_about a {
    color: #091730;
    text-decoration: none;
}
.o-expert {
    width: 100%;
    max-width: 128px;
    height: 188px;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
}
.o-expert:nth-child(1) {
    background-image: url('/resources/images/team/Alex-Jotic.jpg');
  }
  .o-expert:nth-child(7) {
    background-image: url('/resources/images/team/Bojan-Eric.jpg');
  }
  .o-expert:nth-child(4) {
    background-image: url('/resources/images/team/Luka-Jakovljevic.JPG');
  }
  .o-expert:nth-child(6) {
    background-image: url('/resources/images/team/Mike-Ivkov.jpg');
  }
  .o-expert:nth-child(5) {
    background-image: url('/resources/images/team/Natasha-Zecevic.jpg');
  }
  .o-expert:nth-child(2) {
    background-image: url('/resources/images/team/Predrag-Knezevic.JPG');
  }
  .o-expert:nth-child(3) {
    background-image: url('/resources/images/team/Vlad-Bujosevic.jpg');
  }
.o-expert:hover:after {
    opacity: 0;
    visibility: hidden;
}
.o-expert:after {
    transition: all 250ms ease-in-out;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(72,129,212,.25);
    opacity: 1;
    visibility: visible;
}
.o-expert_info {
    padding: .5rem;
    background: white;
    opacity: .9;
    width: calc(100% - 16px);
}
.o-expert_info-name {
    font-size: .875rem;
    font-weight: 400;
}
.o-expert_info-prof {
    margin-top: .25rem;
}
.o-expert_info-prof,
.o-expert_info-exp {
    font-size: .875rem;
    font-weight: 100;
}
.o-expert .o-expert_info {
    display: none;
}
.o-expert:hover .o-expert_info {
    display: block;
    vertical-align: bottom;
}

/* end exprets block */

/* dashboard */

.shg-dashboard-contanier {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.shg-dashboard-contanier-item {
    width: 100%;
    max-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: flex-start;
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
    transition: all .2s ease-out;
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.00);
}
.shg-dashboard-contanier-item:hover {
    transition: all .2s ease-out;
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.shg-dashboard-contanier-item img {
    margin: 0 0 1.5rem;
}

.shg-img-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.shg-img-row > span {
    margin: 0 6px 0 12px;
    color: #557b97;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.shg-upload-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1.5;
    margin: 30px 0;
}

.shg-upload-section label {
    padding: 6px 0;
}
.shg-upload-section h2 {
    margin: 0 0 20px 0;
}
.shg-upload-section .shg-btn {
    margin: 20px 0;
}

.shg-search-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.shg-search-section-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shg-search-section-filters-employees,
.shg-search-section-filters-companies {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.shg-search-section-filters-employees {
    margin-right: 20px;
}
.shg-search-section-filters-companies {
    margin-left: 20px;
}

/* end dashboard */

/* pagination */

.fa-color {
    color: #091730;
}
.shg-paginator {
    margin: 24px 0;
    color: #091730;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}
.fa-circle:before {
    content: " " !important;
}
.fa-icon-white {
    color: #557b97;
}
.fa-icon-white:hover {
    color: #091730;
}

/* end pagination */

/* socials */

.menu-social-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.shg-in,
.shg-li,
.shg-fb {
    display: block;
    width: 30px;
    height: 30px; 
    margin-left: 10px;
}
.shg-in { background: url(../../resources/images/social/instagram.svg) no-repeat }
.shg-li { background: url(../../resources/images/social/linkedin.svg) no-repeat }
.shg-fb { background: url(../../resources/images/social/facebook.svg) no-repeat }

/* end socials */