<div class="content">
    <div class="shg-content-text">
        <div>
            <p>Sky High Growth team consists from young digital warriors and sales veterans. We all come from various
                startup, corporate and digital agency backgrounds, merging our rich sales experience and
                entrepreneurial mindset with innovative digital sales solutions and best practices.</p>

            <p>Since we started, we've been constantly growing and innovating step by step. We grew beyond what we
                imagined as possible and we know how it feels great to reach our goals and live our dreams. We will
                help you grow your business with a tailor made system for revenue growth through demand generation,
                flexible and efficient sales campaigns, and data-driven insights on decision making and sales
                consulting.</p>

            <p>We use our own tailor made software and growth hacking tools, but all our services are based on human
                touch and creative copywriting, strategic mindset and passionate devotion to market research and custom
                analytics, with effective demand generation management, honest client service and optimized workflow.</p>
        </div>
    </div>
    <!--end content zone-->
    <div class="shg-sub-heading">Our Team</div>
    <!--end sub heading-->
    <div class="shg-about-wrap">
        <div class="o-expert_about">
            <a href="https://www.linkedin.com/in/aleksajotic/" target="_blank" class="o-expert" rel="noopener noreferrer"
                aria-describedby="a11y-new-window-external-message">
                <div class="o-expert_info p-1 p-md-2">
                    <div class="o-expert_info-name mt-1 mt-lg-2 font-weight-semibold">CEO</div>
                    <!-- <div class="o-expert_info-prof mt-1"></div> -->
                    <div class="o-expert_info-exp mt-1 color-primary f-14"></div>
                </div>
            </a> <a href="https://www.linkedin.com/in/predrag-k-b064ab149/" target="_blank" class="o-expert" rel="noopener noreferrer"
                aria-describedby="a11y-new-window-external-message">
                <div class="o-expert_info p-1 p-md-2">
                    <div class="o-expert_info-name mt-1 mt-lg-2 font-weight-semibold">Partner &amp; Business Advisor</div>
                    <!-- <div class="o-expert_info-prof mt-1"></div> -->
                    <div class="o-expert_info-exp mt-1 color-primary f-14"></div>
                </div>
            </a> <a href="https://www.linkedin.com/in/bujosevic/" target="_blank" class="o-expert" rel="noopener noreferrer"
                aria-describedby="a11y-new-window-external-message">
                <div class="o-expert_info p-1 p-md-2">
                    <div class="o-expert_info-name mt-1 mt-lg-2 font-weight-semibold">Head of Sales Automation</div>
                    <!-- <div class="o-expert_info-prof mt-1"></div> -->
                    <div class="o-expert_info-exp mt-1 color-primary f-14"></div>
                </div>
            </a> <a href="https://www.linkedin.com/in/jakovljevicluka/" target="_blank" class="o-expert" rel="noopener noreferrer"
                aria-describedby="a11y-new-window-external-message">
                <div class="o-expert_info p-1 p-md-2">
                    <div class="o-expert_info-name mt-1 mt-lg-2 font-weight-semibold">Head of Delivery Automation</div>
                    <!-- <div class="o-expert_info-prof mt-1"></div> -->
                    <div class="o-expert_info-exp mt-1 color-primary f-14"></div>
                </div>
            </a> <a href="https://www.linkedin.com/in/natasha-zecevic-379bab142/" target="_blank" class="o-expert" rel="noopener noreferrer"
                aria-describedby="a11y-new-window-external-message">
                <div class="o-expert_info p-1 p-md-2">
                    <div class="o-expert_info-name mt-1 mt-lg-2 font-weight-semibold">Database Operational Officer</div>
                    <!-- <div class="o-expert_info-prof mt-1"></div> -->
                    <div class="o-expert_info-exp mt-1 color-primary f-14"></div>
                </div>
            </a> <a href="https://www.linkedin.com/in/mladenivkov/" target="_blank" class="o-expert" rel="noopener noreferrer"
                aria-describedby="a11y-new-window-external-message">
                <div class="o-expert_info p-1 p-md-2">
                    <div class="o-expert_info-name mt-1 mt-lg-2 font-weight-semibold">Sales Manager</div>
                    <!-- <div class="o-expert_info-prof mt-1"></div> -->
                    <div class="o-expert_info-exp mt-1 color-primary f-14"></div>
                </div>
            </a> <a href="https://www.linkedin.com/in/bojaneric/" target="_blank" class="o-expert" rel="noopener noreferrer"
                aria-describedby="a11y-new-window-external-message">
                <div class="o-expert_info p-1 p-md-2">
                    <div class="o-expert_info-name mt-1 mt-lg-2 font-weight-semibold">Sales Manager</div>
                    <!-- <div class="o-expert_info-prof mt-1"></div> -->
                    <div class="o-expert_info-exp mt-1 color-primary f-14"></div>
                </div>
            </a>
        </div>
    </div>
    <!--end team info block-->
    <div class="shg-content-text">
        <h2>GET IN TOUCH</h2>
        <div>
            <p>Feel free to drop an email to Vladimir, our Head of Sales, at <a href="mailto:vlad@skyhighgrowth.com">vlad@skyhighgrowth.com</a></p>

            <p>Need to drop us off some post? You can find us at:</p>

            <p>SkyHighGrowth DOO<br>
                    Krunska 56/11<br> 
                    11000 Belgrade<br>
                    Serbia</p>
        </div>
    </div>
    <!--end content zone-->
</div>