﻿<div class="content">
    <h2 class="shg-page-title"><span><img src="../../resources/images/dash-icons/approved.svg" width="30" alt=""></span> CSV Lists</h2>
    <accordion ng-repeat="group in groups">
        <accordion-header>{{group.name}}</accordion-header>
        <accordion-body>
            <div class="shg-inner-accordion">
                <h3>{{group.description}}</h3>
                <accordion ng-repeat="list in group.lists">
                    <accordion-header>
                        <span>{{list.name}} - {{list.count | number}} Contacts - Price: {{list.price | currency : $
                                : 2}}</span>
                        <div>
                            <a ng-click="changeView('/login');$event.stopPropagation();" title="Download csv list">Download</a>
                            | <a ng-click="downloadSample(list._id);$event.stopPropagation();" title="Download csv list sample">Sample</a>
                        </div>
                    </accordion-header>
                    <accordion-body>
                        Description:
                        <br />
                        <p ng-bind-html="list.description | html"></p>
                        <br />

                    </accordion-body>
                </accordion>
            </div>
        </accordion-body>
    </accordion>
     <div ng-if="groups.length===0">
        No recods found.
    </div>
</div>