﻿<div class="content">
    <div class="shg-forgot-pass">
        <h2>Forgot Password</h2>
        <form name="shgform" novalidate="">
            <div class="shg-form-row">
                <label>Email: <span ng-show="shgform.email.$error.required">*</span></label>
                <input type="email" name="email" placeholder="Email" ng-model="data.email" required="" />
                <span class="fa-color" ng-show="shgform.email.$error.email">
                    Email is not valid
                </span>
            </div>
            <div class="shg-form-row validation-messages">
                <span class="fa-color" ng-show="shgform.$valid">Form seems ok you can continue</span>
                <span class="fa-color" ng-show="shgform.$invalid">Please fill the form</span>
            </div>
            <div class="shg-form-row">
                <a ng-show="!loading" class="shg-btn" ng-click="shgform.$invalid || loading ||  forgotpassword()">Submit</a>
            </div>
        </form>
    </div>
</div>