﻿<div class="content">
    <div class="price-plan" ng-class="{'home-block': getCurrentPage() === 'home' }">
        <a href="#" class="price-plan-placeholder">
            <div class="price-plan-placeholder-head">
                <div class="price-plan-placeholder-head-name">Predefined Lists</div>
            </div>
            <div class="price-plan-placeholder-list">
                <div><strong>Find the best clients out there.</strong></div><br>
                We offer an immense base of affordable, accurate and guaranteed email lists with selected and proven
                contacts, perfected for all types of your business-to-business (B2B) communication.
                <br><br>Choose some of our carefully crafted premade lists for various industries, or contact us and we
                will get you exactly what you need - a verified list of contacts, customized to fit all your business
                needs. 
            </div>
            <div class="price-plan-placeholder-read-more" ng-click="changeView('/csv');$event.preventDefault();">READ MORE </div>
        </a>
        <a href="#" class="price-plan-placeholder">
            <div class="price-plan-placeholder-head">
                <div class="price-plan-placeholder-head-name">Premium Service</div>
            </div>
            <div class="price-plan-placeholder-list">
                <div><strong>Get more deals and boost your business.</strong></div><br>
                Reach out to new clients and increase your conversion like never before! Our super effective demand
                generation solutions (LinkedIn and email), with AI mind and human soul, will deliver your message and
                hit the right spot.
                <br><br>Rely on our experienced team with your personal Account manager and watch your sales going
                sky-high. We focus on fine-tuned email copywriting, smart follow ups and intelligent customization to
                get you the best possible results.
            </div>
            <div class="price-plan-placeholder-read-more" ng-click="changeView('/premium');$event.preventDefault();">READ MORE </div>
        </a>
        <a href="#" class="price-plan-placeholder">
            <div class="price-plan-placeholder-head">
                <div class="price-plan-placeholder-head-name">Subscribe to our Database</div>
            </div>
            <div class="price-plan-placeholder-list">
                <div><strong>Get instant access to hundreds of thousands of hot contacts.</strong></div><br>
                Subscribe to our ever growing database of guarantee accurate and up-to-date, premium contacts.
                <br><br>Whatever is your industry, and whatever marketing strategy you are planning to do, get the most
                of it with our support. Define exactly whom you want to reach, find these leads in our database and
                launch your campaign.
            </div>
            <div class="price-plan-placeholder-read-more" ng-click="changeView('/login');$event.preventDefault();">READ MORE </div>
        </a>
    </div>
    <!--end blocks-->
    <div class="shg-hero middle">
        <div class="shg-hero-content">
            <h2>Confident. Affordable. Super-efficient.</h2>
            <h2>Take your business to the next level!</h2>
        </div>
    </div>
    <!--end hero middle-->
    <div class="shg-sub-heading">Trusted by more than 100 successful companies and startups all around the world…</div>
    <!--end sub heading-->
    <div class="shg-client-list-wrap">
        <div class="shg-client-list">
            <div class="shg-client-list-item"></div>
            <div class="shg-client-list-item"></div>
            <div class="shg-client-list-item"></div>
            <div class="shg-client-list-item"></div>
            <div class="shg-client-list-item"></div>
            <div class="shg-client-list-item"></div>
            <div class="shg-client-list-item"></div>
            <div class="shg-client-list-item"></div>
        </div>
    </div>
    <!--end client list-->
    <div class="shg-sub-heading">Client testimonials</div>
    <!--end sub heading-->
    <div class="shg-testimonails">
        <div class="shg-testimonails-item">
            <div class="shg-testimonails-item-heading"></div>
            <div class="shg-testimonails-item-content">SkyHighGrowth was a great addition to our team. They were able to adjust quickly and execute new projects effectively. Helping us expand our outreach to new channels we didn't use before.</div>
            <div class="shg-testimonails-item-credit">- David Peck - Vice President @ High Times</div>
        </div>
        <div class="shg-testimonails-item">
            <div class="shg-testimonails-item-heading"></div>
            <div class="shg-testimonails-item-content">The great thing about cooperation with SkyHighGrowth was the fresh approach and the new vision of how things can be done automatically and differently.</div>
            <div class="shg-testimonails-item-credit">- Jelena Karalejic - Marketing Communication Specialist @ Buck Lighting</div>
        </div>
        <div class="shg-testimonails-item">
            <div class="shg-testimonails-item-heading"></div>
            <div class="shg-testimonails-item-content">SkyHighGrowth proved to be a good partner for reaching out to new markets. We were especially happy with how they did the market research, it was very insightful and how they helped us open up new sales contacts.</div>
            <div class="shg-testimonails-item-credit">- Jovana Rakic - PR & Marketing Manager @ Asseco</div>
        </div>
    </div>
    <!--end testimonials-->
    <div class="shg-sub-heading">Contact us</div>
    <!--end sub heading-->
    <div class="shg-contact-us">
        <form name="shgform" novalidate="">
            <div class="shg-form-row">
                <label>First name: <span ng-show="shgform.firstname.$error.required">*</span></label>
                <input ng-model="obj.firstname" type="text" name="firstname" placeholder="First name" required="" focus="true" />
            </div>
            <div class="shg-form-row">
                <label>Last name: <span ng-show="shgform.lastname.$error.required">*</span></label>
                <input ng-model="obj.lastname" type="text" name="lastname" placeholder="Last name" required="" />
            </div>
            <div class="shg-form-row">
                <label>Phone:</label>
                <input ng-model="obj.phone" type="text" name="phone" placeholder="000-000-0000" phone="" />
                <span class="fa-color" ng-show="shgform.phone.$error.phone">
                    Phone not valid
                </span>
            </div>
            <div class="shg-form-row">
                <label>Email: <span ng-show="shgform.email.$error.required">*</span></label>
                <input ng-model="obj.email" type="email" name="email" placeholder="Email" required="" email="" />
                <span class="fa-color" ng-show="shgform.email.$error.email">
                    Email not valid
                </span>
            </div>
            <div class="shg-form-row">
                <label>Company Name:</label>
                <input ng-model="obj.companyname" type="text" name="companyname" placeholder="Company Name" />
            </div>
            <div class="shg-form-row validation-messages">
                <span class="fa-color" ng-show="shgform.$valid">Form seems ok you can continue</span>
                <span class="fa-color" ng-show="shgform.$invalid">Please fill the form</span>
            </div>
            <div class="shg-form-row">
                <a class="shg-btn" ng-show="!loading" ng-click="shgform.$invalid || contactus(obj)">Contact us</a>
            </div>
        </form>
    </div>
    <!--end contact form-->
</div>