﻿<div class="content">
    <div class="shg-login">
        <h2>Login</h2>
        <form name="shgform" novalidate="">
            <div class="shg-form-row">
                <label>Username: <span ng-show="shgform.username.$error.required">*</span></label>
                <input tabindex="1" ng-model="loginuser.username" type="text" name="username" placeholder="Username" required="" />
            </div>
            <div class="shg-form-row">
                <label>Password: <span ng-show="shgform.password.$error.required">*</span></label>
                <input tabindex="2" ng-model="loginuser.password" type="password" name="password" placeholder="Password" required="" />
            </div>
            <div class="shg-form-row validation-messages">
                <span class="fa-color" ng-show="shgform.$valid">Form seems ok you can continue</span>
                <span class="fa-color" ng-show="shgform.$invalid">Please fill the form</span>
            </div>
            <div class="shg-form-row">
                <a tabindex="3" ng-show="!loading" class="shg-btn" ng-click="shgform.$invalid || login(loginuser)">Login</a>
            </div>
            <div class="shg-form-row forgot-pass">
                <a tabindex="4" ng-href="" ng-click="changeView('/forgotpassword')">Forgot password?</a>
            </div>
        </form>
    </div>
</div>