﻿<div class="content">
    <div class="price-plan">
        <div class="price-plan-placeholder">
            <div class="price-plan-placeholder-head">
                <div class="price-plan-placeholder-head-name">Startup</div>
                <div class="price-plan-placeholder-head-price">Price - 1000€</div>
            </div>
            <div class="price-plan-placeholder-list">
                <li class="price-plan-placeholder-list-item">Dedicated Account Manager</li>
                <li class="price-plan-placeholder-list-item">Market Research</li>
                <li class="price-plan-placeholder-list-item">Email Outreach</li>
                <li class="price-plan-placeholder-list-item">Analytics</li>
            </div>
            <div class="price-plan-placeholder-button"><a class="shg-btn shg-btn--chat" ng-click="changeView('/contact')">Contact</a></div>
        </div>
        <div class="price-plan-placeholder">
            <div class="price-plan-placeholder-head">
                <div class="price-plan-placeholder-head-name">Business</div>
                <div class="price-plan-placeholder-head-price">Price - 1500€</div>
            </div>
            <div class="price-plan-placeholder-list">
                <li class="price-plan-placeholder-list-item">Dedicated Account Manager</li>
                <li class="price-plan-placeholder-list-item">Market Research</li>
                <li class="price-plan-placeholder-list-item">Email Outreach</li>
                <li class="price-plan-placeholder-list-item">Analytics</li>
                <li class="price-plan-placeholder-list-item">LinkedIn automation</li>
                <li class="price-plan-placeholder-list-item">LinkedIn retargeting</li>
                <li class="price-plan-placeholder-list-item">Preparation for special events &amp; conferences with real
                    time support</li>
            </div>
            <div class="price-plan-placeholder-button"><a class="shg-btn shg-btn--chat" ng-click="changeView('/contact')">Contact</a></div>
        </div>
        <div class="price-plan-placeholder">
            <div class="price-plan-placeholder-head">
                <div class="price-plan-placeholder-head-name">Premium</div>
                <div class="price-plan-placeholder-head-price">Price - 3000€</div>
            </div>
            <div class="price-plan-placeholder-list">
                <li class="price-plan-placeholder-list-item">Dedicated Account Manager</li>
                <li class="price-plan-placeholder-list-item">Market Research</li>
                <li class="price-plan-placeholder-list-item">Email Outreach</li>
                <li class="price-plan-placeholder-list-item">Analytics</li>
                <li class="price-plan-placeholder-list-item">LinkedIn automation</li>
                <li class="price-plan-placeholder-list-item">LinkedIn retargeting</li>
                <li class="price-plan-placeholder-list-item">Preparation for special events &amp; conferences with real
                    time support</li>
                <li class="price-plan-placeholder-list-item">Consulting services</li>
                <li class="price-plan-placeholder-list-item">Representing an additional sales rep in campaigns</li>
                <li class="price-plan-placeholder-list-item">Campaign in a different language (additional or change of
                    the existing) – Creation and A/B/C testing of email copywriting</li>
            </div>
            <div class="price-plan-placeholder-button"><a class="shg-btn shg-btn--chat" ng-click="changeView('/contact')">Contact</a></div>
        </div>
    </div>
    <!--end price block-->
    <hr class="shg-line">
    <div class="shg-content-text">
        <h2>Get more deals and boost your business.</h2>
        <div>
                <p>Every company and every business niche has it own demands. Effective and hassle-free workflow and devoted account managers will help you to attract new high-end clients and to increase your conversion like never before!</p> 

                <p>Our super effective demand generation solutions, with AI mind and human soul, will deliver your message and hit the right spot.</p>  
                
                <p>Rely on our experienced team, your personal Account manager and watch your sales going sky-high. We focus on fine-tuned email copywriting, smart follow ups and intelligent customization to get you the best possible results.</p>
        </div>
    </div>
    <hr class="shg-line">
    <div class="shg-content-text">
            <h2>Premium Service Flow</h2>
            <div class="shg-sub-heading">ONBOARDING PROCESS</div>
            <ul>
                    <li>You'll get access to our onboarding form, where we'll ask you for important details regarding your potential customers and your company.</li> 
    
                    <li>Your customer profile</li>  
                    
                    <li>Account Manager Takeover</li>
            </ul>
            <div class="shg-sub-heading">PROSPECTING</div>
            <ul>
                    <li>Contact information</li> 
    
                    <li>At the prospecting stage, we identify hard-to-find company information and key decision makers that match your ideal customer profile, together with their email, LinkedIn profile, and any other available contact information.</li>  
                    
                    <li>Channels that we use</li>

                    <li>Data analysis and research</li>
            </ul>
            <div class="shg-sub-heading">CAMPAIGN DESIGN</div>
            <ul>
                    <li>Initial outreach campaign</li> 
    
                    <li>Now that we understand your ideal customer we will create the initial outreach email along with the follow-up messages.</li>  
                    
                    <li>The follow up emails</li>

                    <li>Retargeting campaign</li>
            </ul>
            <div class="shg-sub-heading">MONITORING AND OPTIMIZATION</div>
            <ul>
                    <li>Fresh prospects, daily</li> 
    
                    <li>Once your drip campaign has started, we continue to feed your account with fresh contacts every day, 5 days a week. We also monitor your account daily, to ensure that your campaign runs at optimal parameters.</li>  
                    
                    <li>Algorithmic attribution</li>

                    <li>Analytics dashboard</li>
            </ul>
            <div class="shg-sub-heading">GET HOT LEADS AND LEAD SHEET</div>
            <ul>
                    <li>Your first Hot leads</li> 
    
                    <li>Within days after you sign up, you will start receiving your first hot leads straight into your inbox. These are replies to the drip campaign, from people interested in your business and many of them expecting your call.</li>  
                    
                    <li>Accessing the leadsheet</li>

                    <li>Increase conversions</li>
            </ul>
            <div class="shg-sub-heading">MEAT YOUR DEDICATED TEAM OF PROFESSIONALS</div>
            <div class="shg-video-plh">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/GlIJdpQQpaY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
</div>