﻿<div class="content">
    <div class="shg-sign-up">
            <h2>Sign up</h2>
            <form name="shgform" novalidate="">
                <div class="shg-form-row">
                    <label>First name: <span ng-show="shgform.firstname.$error.required">*</span></label>
                    <input ng-model="obj.firstname" type="text" name="firstname" placeholder="First name" required="" focus="true" />    
                </div>
                <div class="shg-form-row">
                    <label>Last name: <span ng-show="shgform.lastname.$error.required">*</span></label>
                    <input ng-model="obj.lastname" type="text" name="lastname" placeholder="Last name" required="" />
                </div>
                <div class="shg-form-row">
                    <label>Phone: <span ng-show="shgform.phone.$error.required">*</span></label>
                    <input ng-model="obj.phone" type="text" name="phone" placeholder="000-000-0000" required="" phone="" />
                    <span class="fa-color" ng-show="shgform.phone.$error.phone">
                        Phone not valid
                    </span>
                </div>
                <div class="shg-form-row">
                    <label>Email: <span ng-show="shgform.email.$error.required">*</span></label>
                    <input ng-model="obj.email" type="email" name="email" placeholder="Email" required="" email="" /> 
                    <span class="fa-color" ng-show="shgform.email.$error.email">
                        Email not valid
                    </span>
                </div>
                <div class="shg-form-row">
                    <label>Gender: <span ng-show="shgform.gender.$error.required">*</span></label>
                    <div class="shg-select-wrap">
                        <select ng-model="obj.gender" ng-options="o.value as o.name for o in genders" required="">
                            <option value="">-- Plese Select --</option>
                        </select>
                    </div>
                </div>
                <div class="shg-form-row">
                    <label>Company Name:</label>
                    <input ng-model="obj.companyName" type="text" name="companyname" placeholder="Company Name" />
                </div>
                <div class="shg-form-row">
                    <label>Username: <span ng-show="shgform.username.$error.required">*</span></label>
                    <input ng-model="obj.username" type="text" name="username" placeholder="Username" required="" />
                </div>
                <div class="shg-form-row">
                    <label>Password: <span ng-show="shgform.password.$error.required">*</span></label>
                    <input ng-model="obj.password" type="password" name="password" placeholder="Password" required="" />
                    <span class="fa-color" ng-show="shgform.password.$error.minlength">
                        Password minimum length is 4
                    </span>
                    <span class="fa-color" ng-show="shgform.password.$error.maxlength">
                        Password maximum length is 20
                    </span>
                </div>
                <div class="shg-form-row">
                    <label>Password Confirm: <span ng-show="shgform.passwordconfirm.$error.required">*</span></label>
                    <input type="password" name="passwordconfirm" placeholder="Password Confirm" ng-model="obj.passwordconfirm" required="" />
                    <span class="fa-color" ng-show="shgform.password.$error.minlength">
                        Password minimum length is 4
                    </span>
                    <span class="fa-color" ng-show="shgform.password.$error.maxlength">
                        Password maximum length is 20
                    </span>
                </div>
                <div class="shg-form-row validation-messages">
                    <span class="fa-color" ng-show="shgform.$valid">Form seems ok you can continue</span>
                    <span class="fa-color" ng-show="shgform.$invalid">Please fill the form</span>
                </div>
                <div class="shg-form-row">
                    <a class="shg-btn" ng-show="!loading" ng-click="shgform.$invalid || register(obj)">Sign up</a>
                </div>
            </form>
    </div>
</div>
