﻿<div class="content">
    <div class="shg-content-text">
        <h2>Coming soon</h2>
        <div>
            <p>Whether you are an owner of small startup business or you are a sales marketer, you will benefit subscribing our ever growing database of guarantee accurate and up-to-date, premium contacts.</p>

            <p>Whatever is your industry, and whatever direct approach strategy you are planning to do, get the most of it with our database. Define exactly whom you want to target, get their contacts and launch your campaign.</p>

            <p>We are here to help you reach your goals in quick and effective way.</p>
        </div>
    </div>
    <!--end content zone-->
    <div class="shg-sub-heading">Subscribe</div>
    <!--end sub heading-->
    <div class="shg-contact-us">
            <form name="shgform" novalidate="">
                <div class="shg-form-row">
                    <label>First name: <span ng-show="shgform.firstname.$error.required">*</span></label>
                    <input ng-model="obj.firstname" type="text" name="firstname" placeholder="First name" required="" focus="true" />
                </div>
                <div class="shg-form-row">
                    <label>Last name: <span ng-show="shgform.lastname.$error.required">*</span></label>
                    <input ng-model="obj.lastname" type="text" name="lastname" placeholder="Last name" required="" />
                </div>
                <div class="shg-form-row">
                    <label>Phone:</label>
                    <input ng-model="obj.phone" type="text" name="phone" placeholder="000-000-0000" phone="" />
                    <span class="fa-color" ng-show="shgform.phone.$error.phone">
                        Phone not valid
                    </span>
                </div>
                <div class="shg-form-row">
                    <label>Email: <span ng-show="shgform.email.$error.required">*</span></label>
                    <input ng-model="obj.email" type="email" name="email" placeholder="Email" required="" email="" />
                    <span class="fa-color" ng-show="shgform.email.$error.email">
                        Email not valid
                    </span>
                </div>
                <div class="shg-form-row">
                    <label>Company Name:</label>
                    <input ng-model="obj.companyName" type="text" name="companyname" placeholder="Company Name" />
                </div>
                <div class="shg-form-row validation-messages">
                    <span class="fa-color" ng-show="shgform.$valid">Form seems ok you can continue</span>
                    <span class="fa-color" ng-show="shgform.$invalid">Please fill the form</span>
                </div>
                <div class="shg-form-row">
                    <a class="shg-btn" ng-show="!loading" ng-click="shgform.$invalid || register(obj)">Contact us</a>
                </div>
            </form>
        </div>
        <!--end contact form-->
</div>