﻿<div class="shg-paginator" ng-if="count!==0">
    <div>

        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x fa-icon"></i>
            <i class="fa fa-angle-double-left fa-stack-1x fa-icon-white" ng-click="currentPage===1 || first()" title="First Page"></i>
        </span>

        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x fa-icon"></i>
            <i class="fa fa-angle-left fa-stack-1x fa-icon-white" ng-click="currentPage===1 || prev()" title="Previous Page"></i>
        </span>

        <span style="font-size: 100%;" class="fa-color">
            page {{currentPage}} of {{pages}}, total: {{count}}
        </span>
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x fa-icon"></i>
            <i class="fa fa-angle-right fa-stack-1x fa-icon-white" ng-click="currentPage===pages || next()" title="Next Page"></i>
        </span>

        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x fa-icon"></i>
            <i class="fa fa-angle-double-right fa-stack-1x fa-icon-white" ng-click="currentPage===pages || last()" title="Last Page"></i>
        </span>

    </div>
</div>
